{% extends "base.html" %}
{% load smallcaps staticfiles multilingual link s3 %}

{% block super_content %}

  <div class="full-viewport bg-image bg-1"></div>

  <div class="navbar navbar-default navbar-setsuhi
              navbar-fixed-top visible-xs" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse" 
                data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
        <a class="navbar-brand" href="{% url 'front' %}">
          {% multilingual %}
          {% mlpart "ja" %}
          <div>書道家 白石雪妃</div>
          {% endmlpart %}
          {% mlpart "en" %}
          <div>Setsuhi Shiraishi</div>
          {# <div class="italic">Calligraphy Artist</div> #}
          {% endmlpart %}
          {% endmultilingual %}
        </a>
        <div class="signature">
          <img class="fit-image"
               src="{% s3_url 'static/media/images/signature/white-t.png' %}" />
        </div>
        <div class="ml-widget ml-mobile-widget pull-right">
          <a class="ml-language" lang="ja">
            <div>
              <div>
                <img src="{% static 'media/images/flags/hinomaru.svg' %}" 
                     style="width: 37px;" />
              </div>
              日本語
            </div>
          </a>
          <a class="ml-language" lang="en">
            <div>
              <div>
                <img src="{% static 'media/images/flags/union-jack.svg' %}"
                     style="width: 37px; margin-top: 5px;" />
              </div>
              English
            </div>
          </a>
        </div>
      </div>
      <div class="navbar-collapse collapse" style="height: 1px;">
        {% for view_name, english, japanese, attr in nav_list %}
          <div class="mini-nav-item">
            <a class="btn btn-default transparent full-width"
               href="{% url view_name %}" {{attr}}>
              {% ml en=english ja=japanese %}
            </a>
          </div>
        {% endfor %}
      </div><!--/.nav-collapse -->
    </div><!--/.container-->
  </div><!--/.navbar-->

  <div id="left-dock" class="hidden-xs">

    <div class="signature">
      <img class="full-width-image"
           src="{% s3_url 'static/media/images/signature/white-t.png' %}" />
    </div>

    <a href="{% url 'front' %}" class="white-link">
      <div class="setsuhi-name center-block text-vertical-hack"
           lang="ja">
        書道家 白石雪妃　
      </div>
      <div class="setsuhi-name" lang="en">
        <div class="serif">
          {{"Setsuhi"|smallcaps}}<br>
          {{"Shiraishi"|smallcaps}}
        </div>
        <div class="serif italic text-muted setsuhi-title">
          Japanese<br>
          Calligraphy<br>
          Artist
        </div>        
      </div>
    </a>

    {% block multilingual %}
      <div id="ml-titles">
      </div>
      <div class="ml-widget">
        <div class="ml-btn-group">
          <button class="ml-language ml-button text-left" lang="en">
            <img src="{% static 'media/images/flags/union-jack.svg' %}" 
                 class="ml-flag" />
            <span class="language-name">English</span>
          </button>
          <button class="ml-language ml-button text-left" lang="ja">
            <img src="{% static 'media/images/flags/hinomaru.svg' %}" 
                 class="ml-flag" />
            <span class="language-name">日本語</span>
          </button>
        </div>
      </div>
    {% endblock multilingual %}
  </div> <!-- /#left-dock -->

  <div id="right-dock" class="hidden-xs">
    <div id="main-navigation">

      {% for view_name, english, japanese, attr in nav_list %}
        <div class="navigation-button navitem-on">
          <a href="{% url view_name %}" {{attr}}>
            <div class="boxi 
                        {% if view_name == present_page_name %}
                        present-page {% endif %}">
              {% if view_name == present_page_name %}
                <div class="boxiguchi">
                  <div class="guchi-corner guchi-top"></div>
                  <div class="guchi-corner guchi-bottom"></div>
                </div>
              {% endif %}
              <div class="boxi-br">
                {% ml en=english ja=japanese %}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}

        <div class="dropdown navitem-off"
             id="navigation-spill-menu-wrapper">

          <button class="boxi dropdown-toggle" 
                  type="button" id="navigation-spill-menu-button" 
                  data-toggle="dropdown">
            <div class="text-left">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <div class="boxi-br">
              {% ml en="Others" ja="その他" %}
            </div>
          </button>

          <ul class="dropdown-menu upleft-menu" role="menu" 
              aria-labelledby="navigation-spill-menu-button">
            {% for view_name, english, japanese, attr in nav_list %}
            <li role="presentation"
                class="spill-menu-item navitem-off">
              <a role="menuitem" tabindex="-1" 
                 href="{% url view_name %}" {{attr}}>
                {% ml en=english ja=japanese %}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>

    </div> <!-- end #main-navigation -->
  </div> <!-- /#right-dock -->

  <div id="top-content">
    {% block top_content %}{% endblock %}
  </div>

  <div id="main-content">
    {% block main_content %}{% endblock %}

    <div class="bg-photo-credit">
      {%multilingual%}
      {%mlpart 'en'%}
      <span class="ib">background photo:</span>
      <span class="ib">{%link 'yoshiyuki ōki'%}</span>
      {%endmlpart%}
      {%mlpart 'ja'%}
      <span class="ib" lang="en">background photo:</span>
      <span class="ib">{%link '大木啓至'%}</span>
      {%endmlpart%}
      {%endmultilingual%}
    </div>

    <div id="copyright">
      <span class="ib">&copy; Setsuhi Shiraishi</span>
      <span class="ib">All rights reserved.</span>
    </div>

  </div> <!-- /#main-content -->

{% endblock super_content %}
