{% extends "base.html" %}

{% load staticfiles json_filters multilingual %}

{% block html_attributes %}
  ng-app="workroomApp"
{% endblock %}


{% block super_content %}
<div class="container">
  <h2>The Workroom</h2>
</div>

<script>
  var ngData_pictureEntries = {{ entries|jsonify_expand:"sakuhin"|safe }};
</script>

<div ng-controller="PictureListController">
  <div class="container">
    <div ng-repeat="e in pictureEntries | orderBy:'fields.order_index'"
         ng-init="sak = e.fields.sakuhin.fields">
      <div taw-entry-drop-zone
           data-i-dom="[[ $index ]]"
           data-on-drop="moveEntry(exIDom, toIDom)">
      </div>
      <div taw-draggable-entry 
           data-i-dom="[[ $index ]]"
           data-i-array="[[ e.arrayIndex ]]">
        <div class="row">
          <div class="col-sm-3">
            <div class="text-right">
              <img ng-src="[[ sak.thumb_image_url ]]" 
                   class="workroom-thumbnail
                          expandable-image" />
            </div>
          </div> <!-- /column (lefthand, for picture) -->
          <div class="col-sm-7">
            <div>
              [[ sak.title ]]
              <span class="text-muted small"
                    ng-show=" sak.title.length == 0 ">
                no title
              </span>
            </div>
            <div>
              [[ sak.brief ]]
              <span class="text-muted small"
                    ng-show=" sak.brief.length == 0 ">
                no brief description
              </span>
            </div>
            <div>
              [[ sak.lengthy ]]
              <span class="text-muted small"
                    ng-show=" sak.lengthy.length == 0 ">
                no lengthy description
              </span>
            </div>
          </div> <!-- /column (righthand, for info) -->
          <div class="col-sm-2">
            <div class="text-right condensed-line"
                 style="padding: 10px 10px 0 0;">
              <strong>[[ $index + 1 ]]</strong><br>
              <small class="text-muted">of 35</small>
            </div>
            {% if not isProduction %}
              <div class="text-info">
                [[ e.fields.order_index ]]
              </div>
            {% endif %}
          </div>
        </div> <!-- /.row -->
      </div> <!-- /taw-draggable-entry -->
    </div> <!-- /ng-repeat -->
    <div taw-entry-drop-zone
         data-i-dom="[[ pictureEntries.length ]]"
         data-on-drop="moveEntry(exIDom, toIDom)">
    </div>
      
  </div> <!-- /.container -->
</div> <!-- /PictureListController -->

{% endblock super_content %}




{% block postscripts %}

  <script src="{% static 'bower_components/angular/angular.js' %}"></script>
  <script src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>

  <script src="{% static 'ng/scripts/app.js' %}"></script>
  <script src="{% static 'ng/scripts/filters.js' %}"></script>
  <script src="{% static 'ng/scripts/services.js' %}"></script>
  <script src="{% static 'ng/scripts/directives.js' %}"></script>
  <script src="{% static 'ng/scripts/controllers.js' %}"></script>

{% endblock %}
