{% extends "base.html" %}

{% load staticfiles json_filters multilingual %}

{% block html_attributes %}
  ng-app="workroomApp"
{% endblock %}


{% block super_content %}
<script>
  var ngData_pictureEntries = {{ entries|jsonify_expand:"sakuhin"|safe }};
</script>

<div ng-controller="PictureListController">
  <div class="container">

    <div class="row">
      <div class="col-sm-6">
        <h1 class="workroom-title text-upper bold">The Workroom</h1>
      </div>
      <div class="col-sm-6">
        <div style="margin-top: 30px;">
          <label class="clickable">
            <input type="checkbox" ng-model="isDragEnabled"
                   ng-change="dragEnableChanging()">
            Drag
          </label>
          <label class="clickable" style="margin-left: 25px;">
            <input type="checkbox" ng-model="isRepositEnabled"
                   ng-change="repositEnableChanging()">
            Reposit
          </label>
        </div>
      </div>
    </div> <!-- /.row -->

    <div class="taw-entry-list
                [[ isDragEnabled ? 'drag-enabled' : '' ]]
                [[ isRepositEnabled ? 'reposit-enabled':'' ]]
                [[ isRepositPending ? 'reposit-pending':'' ]]">

      <div class="reposit-cancel-wrapper">
        <button class="reposit-cancel-button
                       full-width text-left"
                ng-click="endReposit()">
          Cancel<br>the<br>move
        </button>
      </div> <!-- /.reposit-cancel-wrapper -->

      <div ng-repeat="e in pictureEntries 
                      | orderBy:'fields.order_index'"
           ng-init="sak = e.fields.sakuhin.fields">

        <div taw-entry-drop-zone
             data-i-dom="[[ $index ]]"
             data-on-drop="moveEntry(exIDom, toIDom)">
          <span class="reposit-button-wrapper
                       [[ isRepositEnabled ? 'show':'hide' ]]">
            <button class="reposit-button center-block"
                    ng-disabled=" !isRepositPending "
                    ng-click="applyReposit( [[pendingRepositee]], [[$index]] )">
              Put here
            </button>
          </span>
        </div> <!-- /taw-entry-drop-zone -->

        <div taw-entry-draggable class="taw-entry"
             data-i-dom="[[ $index ]]"
             data-i-array="[[ e.arrayIndex ]]">
          <div class="row entry-row">

            <div class="col-xs-4 col-sm-2 full-height">
              <div class="full-height
                          [[ isRepositEnabled ? 'show':'hide' ]]"
                   style="padding: 8px;">
                <button class="pickup-button"
                        ng-disabled=" !isRepositEnabled || isRepositPending "
                        ng-click="beginReposit( [[$index]] )">
                  Move
                </button>
              </div>
            </div> <!-- /column: pickup button -->
            <div class="col-xs-4 col-sm-2">
              <div>
                <img ng-src="[[ sak.thumb_image_url ]]" 
                     class="workroom-thumbnail
                            expandable-image
                            center-block" />
              </div>
            </div> <!-- /column: picture -->
            <div class="hidden-xs col-sm-6">
              <div>
                [[ sak.title ]]
                <span class="text-muted small"
                      ng-show=" sak.title.length == 0 ">
                  no title
                </span>
              </div>
              <div>
                [[ sak.brief ]]
                <span class="text-muted small"
                      ng-show=" sak.brief.length == 0 ">
                  no brief description
                </span>
              </div>
              <div>
                [[ sak.lengthy ]]
                <span class="text-muted small"
                      ng-show=" sak.lengthy.length == 0 ">
                  no lengthy description
                </span>
              </div>
            </div> <!-- /column: info -->
            <div class="col-xs-4 col-sm-2">
              <div class="pull-right condensed-line"
                   style="padding: 10px 10px 0 0;">
                <strong class="large">[[ $index + 1 ]]</strong><br>
                <small class="text-muted">of 35</small>
              </div>
              {% if not isProduction %}
              <div class="text-info">
                [[ e.fields.order_index ]]
              </div>
              {% endif %}
            </div> <!-- /column: index number -->

          </div> <!-- /.row.entry-row -->
        </div> <!-- /taw-entry -->
      </div> <!-- /ng-repeat -->

      <div taw-entry-drop-zone
           data-i-dom="[[ pictureEntries.length ]]"
           data-on-drop="moveEntry(exIDom, toIDom)">
      </div>
    </div> <!-- /.taw-entry-list -->
  </div> <!-- /.container -->
</div> <!-- /PictureListController -->

{% endblock super_content %}




{% block postscripts %}

  <script src="{% static 'bower_components/angular/angular.js' %}"></script>
  <script src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>

  <script src="{% static 'ng/scripts/app.js' %}"></script>
  <script src="{% static 'ng/scripts/filters.js' %}"></script>
  <script src="{% static 'ng/scripts/services.js' %}"></script>
  <script src="{% static 'ng/scripts/directives.js' %}"></script>
  <script src="{% static 'ng/scripts/controllers.js' %}"></script>

{% endblock %}
