{% extends "main/base.html" %}
{% load staticfiles multilingual %}

{% block main_content %}


<div class="phota-grid">
  {% for photum in phota %}
    <a href="{% url 'photum' forloop.counter0 %}">
      <img class="photum-cover"
           src="{{ photum.cover_url }}"
           id="photum-cover-{{forloop.counter}}" />
    </a>
    <div class="photum-caption">
      <h4>{{ phtoum.folder }}</h4>
    </div>
  {% endfor %}
</div><!--/.phota-grid-->


<div id="photum-brief-frame">
  <div id="photum-brief-area">
    {% for photum in phota %}
      <div class="photum-brief" id="photum-brief-{{forloop.counter}}">
        <h4>{{ photum.folder }}</h4>
        <p>
          オーダー制作開始【命名書・インテリア書作品
          （カフェ・レストラン・ショップ・ ご自宅用など)
          表札・おしながき（(Menu Book) ・ウエルカムボード・看板
          （ショップ・各種イベン ト）・名刺ロゴなど筆文字全般】
        </p>
      </div><!--/.photum-brief-->
    {% endfor %}
  </div><!--/#photum-brief-area-->
</div><!--/#photum-brief-frame-->

{% endblock main_content %}


{% block postscripts %}
<script type="text/javascript"
        src="{% static 'main/scripts/photum-grid.js' %}"></script>
{% endblock %}


