{% extends "page-base.html" %}
{% load staticfiles multilingual link email_obfuscator smallcaps %}


{%block super_class%} has-background-image {%endblock%}


{% block main_content %}
<div class="container full-width no-padding">
  <div class="tyle-header">
    <h2>{{ "Upcoming Events"|smallcaps }}</h2>
  </div>
  <div id="upcoming-events" class="tyle-section event-section">
    <div class="tyle">
      <div class="event">
        <img style="float:right;" class="full-width-image"
             src="{% static 'media/images/events/image0.jpeg' %}">
        「深化」Exhibition Concert 書↔︎音<br>
        ～フランスの詩と絵画より ～<br>
        -The Soulages Suit-<br>
        2014.12.7 日曜日<br>
        12:30 open 13:00 start <br>
        charge \2900 1drink別<br>
        白石雪妃 calligraphy exhibition,performance<br>
        小林岳五郎 pf,compose<br>
        大石将紀 saxphone<br>
        Hiro-a-key vo,voice<br>
        SHEED SHIP 小田急線下北沢駅南口より徒歩5分<br>
        http://seed-ship.com/<br>
        それはある「表現」の「模倣」から始まった。<br>
        黒を探求するフランスの画家 、スーラージュの 黒と光の表現の模倣。<br>
        音楽へと昇華されるフランスの詩人 、ヴェルレーヌの音楽的手法の模倣。<br>
        絵画より再構築された書画から一人のピアニストによって音楽が生まれ た。<br>
        模倣は創造へと展開を迎え、深化する旅がここに 始まる。<br>
        Program<br>
        スーラージュの情景より 組曲 「Soulages」/ Takegorou Kobayashi<br>
        月の光 / Claude Debussy <br>
        4人のアーティストによる即興 他<br>
        profile<br>
        白石雪妃<br>
        書道家。2014年ミャンマー連邦共和国・国軍司令官の公 式訪問において揮毫。2014FIFAワールドカップ日本代表新ユニフォームのコンセプト「円 陣」揮毫。ダイナース銀座ラウンジ、ホテル日航東京で個展、フランスやNY など海外でも活動の場を広げる。喫茶茶会記書道サロン主宰、表参道書道教室講師。www.setsuhi.jp<br>
        小林岳五郎<br>
        ピアニスト、アレンジャー、コンポーザー。これまでに加藤 ミリヤ、清水翔太、黒沢薫(ゴスペラーズ）他多数のアーティストと共演・サポート 。 リーダーグループ、ROOM56でアルバムリリース、海外レーベルへの楽曲提供を行うほか舞台、イ ベントや舞台楽曲の制作やアレンジなど幅広く活動。<br>
        大石将紀<br>
        サキソフォン奏者。 東京藝術大学大学院修了後渡仏。パリ国立高等学校音楽院サ クソフォン科、室内楽科、即興演奏科を全て最優秀の成績で卒業。クラシック、現代音楽演奏、作曲 家、ダンサーとのコラボレーション、即興演奏など幅広く活動している。 東京現音計画、ブルーオーロラサクソフォンカルテットメンバー。www.m-oishi.com<br>
        Hiro-a-key<br>
        幼少期をアメリカ(NY&amp;LA)で過ごし、Big Band JazzからHip Hopと様々な音楽に影響を受けるシンガー。英語と日本語のリズムを重視し、Hip Hop/Jazz/Soulの曲に甘く、Smooth時に力強い声を乗せ、独自 の世界を表現中。現在セカンドアルバム作成中、2015年春リリース予定。https://soundcloud.com/hiro-a-key twitter ID hiroglyphics<br>
        Photo by NORI<br>
        Design by Takuya Komaba
      </div>
    </div><!-- /.tyle -->

    <div class="tyle">
      <div class="event">
        書道家白石雪妃Ｘ石井彰カルテット<br>
        終わり無き始まリ Jazz meets 書道<br>
        <br>
        書と音によるインスピレ一ションの交歓<br>
        五感で堪能する芸術的なステ一ジ<br>
        <br>
        書道を総合芸術として昇華させる手腕が高く評価され、世界中で多くのファンを魅了する書道家の白石雪妃。伝統的な書の世界を讃えながら、独特の観点を加えたス夕イルで音楽や美術など幅広いコラホレ一ションを見せると、2014年にはFIFAワールドカップサッカ一日本代表新ユ二フォ一ムにコンセプト「円陣」を揮毫（きごう）するなど、各分野から注目を集めている。そんな彼女が新年の横浜からジャズ・ライブとのコラボレーション・パフォーマンスをお届け。ステージを共にするのは、石井、江藤、川村、類家という日本ジャズ・シーンでも豪腕でならす面々。音と書が互いにインスピレーションを与え合い、どのような産物にするのか。生演奏との融合から生まれる芸術的なひとときに、モーション・ブルー・ヨコハマならではの料理、飲物を合わせ五感でお楽しみいただきたい。<br>
        <br>
        <img class="full-width-image" src="{% static 'media/images/events/image2.jpeg' %}">
        <img class="full-width-image" src="{% static 'media/images/events/image3.jpeg' %}">
      </div><!-- /.event -->
    </div><!-- /.tyle -->
    
  </div><!-- /#upcoming-events -->


  <div style="display:none;">
    <div class="tyle">
      <div class="event">
      </div><!-- /.event -->
    </div><!-- /.tyle -->
  </div>

  
  <!------------------------------------------->

  <div class="tyle-header">
    <h2>{{ "Past Events"|smallcaps }}</h2>
  </div>

  <div id="recent-events" class="tyle-section event-section">
    <div class="tyle">
      <div class="event">
        松樹千年翠　<br>
        音×花×書＋坐禅　<br>
        2014年11月22日<br>
        開場16時30分　開演17時<br>
        料金 前売り2500円 当日3000円<br>
        <br>
        書道家　 白石雪妃<br>
        華道家　 塚越応駿<br>
        打楽器奏者　山㟁直人<br>
        僧侶 飯沼康祐<br>
        <br>
        主催　福昌寺<br>
        <br>
        <br>
        「松樹千年翠」<br>
        <br>
        私たちは、春は桜、夏は新緑、秋は紅葉など四季の変化に合わせて色鮮や かに変化するものに心奪われます。<br>
        <br>
        一方、変化に乏しい「松」。<br>
        一年中ほぼ同じ見た目であまり人目を引くことがありません。<br>
        あまり変わり映えのしない松ですが、目立たない無数の小さ な変化を繰り返しながら、風雪に耐えて「千年の翠」を保っているのです。<br>
        <br>
        「変わらないことが大切」というのではなく、変化し続ける からこそ「変わらない状態を維持」することができます。<br>
        「変わらない」ように見えていても着実に成長しているのです。<br>
        <br>
        すぐに結果がでるものを求めがちですが、うつろうもののみ に目を奪われて、常住不変の真理を見失うようなことがあってはならない。<br>
        つねに移り変わりながら、新旧を超えて千古変わらぬ生命が在ることを 知っておきたい。<br>
        <br>
        私たちも常に変わりながら、変わらないものを大切に成長を 続けるというコンセプトの、書x花x音x坐禅「松樹千年翠」初演に是非、足をお運びください。
        <br>
        <img class="full-width-image" src="{% static 'media/images/events/image7.jpeg' %}">
        <img class="full-width-image" src="{% static 'media/images/events/image6.jpeg' %}">
      </div>
    </div>

    <div class="tyle">
      <div class="event">
        10/25-11/9 我孫子国際野外美術展<br>
        <br>
        <img class="full-width-image" src="{% static 'media/images/events/image4.jpeg' %}">
        <img class="full-width-image" src="{% static 'media/images/events/image5.jpeg' %}">
      </div>
    </div>

    <div class="tyle">
      <div class="event">
        10/1-31 白石雪妃個展@ホテル日航東京2F-3Fコリドールギャラリー<br>
        Setsuhi Shiraishi Exhibition<br>
        書道家 白石雪妃 作品展 harvest country　～収穫祭～<br>
        展示期間：2014年10月2日（木）～10月31日（金）（最終日14時まで）<br>
        <br>
        会場　ホテル日航東京（ゆりかもめ台場駅直 結)<br>
        2・3Fコリドールギャラリー 入場無料<br>
        ＊駐車券のご用意はございませんので、予めご了承くださいませ。<br>
        ＊2階コリドールギャラリーにおいては、強風等により作品をご覧いただけない場合がございます。<br>
        <br>
        お問合せ<br>
        ホテル日航東京　マーケティンググループ TEL. 03-5500-5509<br>
        <a href="http://www.hnt.co.jp/archives/8147">http://www.hnt.co.jp/archives/8147</a>
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        10/19 直書観音vol.5 音楽 Miya x 書 Setsuhi@目白ゆうど<br>
        日程：10月19日(日)<br>
        出演：白石雪妃(書) Miya（音楽)<br>
        会場：目白 ゆうど<br>
        料金: 予約\2,500 当日\3,000 学生\2,000 小学生以下無料<br>
        予約：03-6427-9156 (チームカノン) team.can-on@miya-music.com<br>
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        9/15-28<br>
        setsuhi calligraphy exhibition information<br>
        皆様のご来場を心よりお待ちしております。<br>
        <img src="{% static 'media/images/anoano-setsuhi.jpg' %}" class="fit-image" /><br>
        白石雪妃書画展<br>
        <br>
        【模倣】~Arthur Rimbaud, Paul Verlaine, Pierre Soulagés~<br>
        <br>
        「創造」と「模倣」。相対する２つの探求は「個性」の所在を探る旅である。創造は模倣を、模倣は創造を生む。様々な表現に触れ用いること で、流動する個性を「書道」として再構築する試みが始まる。<br>
        <br>
        Sep.15mon-28sun<br>
        15-20時(日祝11-18時)<br>
        <br>
        個展会期中の9/20(土)、ミニパフォーマンスをおこないます。<br>
        <br>
        -書と音と朗読と-<br>
        9/20 sat 15:00 charge\1000(1drink付)<br>
        <br>
        Calligraphy Setsuhi Shiraishi<br>
        Percussion 山岸 直人<br>
        The poem recording by Benjamin Duboc, Cyril Meysson, Fabien Guillotin, &amp; Laurie<br>
        <br>
        アノアノ・ギャラリー<br>
        <br>
        大塚駅より徒歩5分<br>
        http://www.anoanogalerie.com/<br>
        03-3941-3791<br>
        豊島区南大塚2-37-11ハイムセクオイア1階奥<br>
        <br>
        この度、アノアノギャラリーにて展示させていただけること、<br>
        ownerの名久井さんをはじめ、スタッフの方々、ご関係者の方々に深く感謝申し上げます。<br>
        <br>
        模 倣 <br>
        「表 現」をするということ。多くの人は日常のなかで自己表現を、およそ無意識 下で行っている。 <br>
        言葉 や仕草はその最たるものである。 <br>
        他者 に伝えたい意思を自身のもつ「表現」を使って、最大限に飾ってより良く伝えようとする。 <br>
        そこ では「表現」はあくまでも意思を伝える為の「道具」である。 <br> <br>

        芸術。それは意思を伝える「道具」である「表現」を思考し、自身 の化身まで高める行為である。 <br>
        人類 は五感を刺激する様々な「表現」を探し、その歴史の中で数えきれない「表現」 を手に入れた。 <br>
        それ らは一世を風靡し、廃れ、忘れられてきた。 <br>
        そん な歴史の中で、私たちが生きる現代は一定の飽和状態にある。 <br>
        確立 された「表現」が現代には溢れている。 <br>
        その 一つ一つをさらに磨く試み、異なるもの同士を和える試み。 <br>
        飽和 状態とは、様々な選択肢の無限に広がる自由な状態でもある。 <br>
        現代 を生きる表現者に求められているのは、必死になって「表現」の「創造」を行 うことではなく、 <br>
        この 選択肢の無限に広がる状態を楽しみ、遊び尽くすことの様に私は思う。 <br> <br>

        今回の白石雪妃による「模倣」という展覧会は、現代を生きる表現者として、非常 に興味深い。 <br>
        「表 現」の「模倣」。それは相対する「表現」の「創造」にも通ずる。 <br>
        様々 な「表現」に触れ、自由に横断し、「模倣」することで、 <br>
        自己 の化身である「書道」へと再構築していく。 <br>
        フラ ンスツアー中に出会った、アルチュール・ランボー、ポール・マリー・ヴェルレーヌ、 <br>
        ピ エール・スーラージュ。二人の詩人と一人の画家の「表現」の「模倣」。 <br>
        ラン ボーの『地獄の季節』に収められた韻文詩「永遠」は、 <br>
        その 型破りで乱暴な言葉と言葉の組み合わせが無限のイメージを呼ぶ、 <br>
        ヴェ ルレーヌの紡ぐ言葉たちは音楽へと昇華し、スーラージュのリズムをもった記号は、 <br>
        コン ポジションを形成し、空間表現へと変換されていく。 <br>
        無限 の選択肢から選ばれたこの「表現」たちが白石雪妃の中で再構築されて <br>
        いく そのプロセスは、「表現」の飽和状態である現代における、新しい「創造」 <br>
        の一 つのカタチであると言えるのではないだろうか。
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        9/13.14 湯沢リバーサイドジャムキャンプ2014 ワークショップ
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        9/6.7 猫町綺譚 上映全6回@原宿さくら①
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        9/6 琵琶奏者ふぅ　プロデュース　「歌 ハチスノイト×書 白石雪妃」Live+Workshop+Exhibition　@awakening Tokyo16:30<br>
        <br>
        2014年９月６日（土曜日）<br>
        開場16:00／開演16:30<br>
        料金　3,500円（ソフトドリンク付き）<br>
        会場　Awakening Tokyo <br>
        （千代田区六番町3-20 佐藤ビル2階）<br>
        <br>
        コンテンツ<br>
        琵琶演奏／ハチスノイトライブ／<br>
        書のワークショップ／<br>
        ハチスノイト＆白石雪妃ライブ／<br>
        白石雪妃作品展示<br>
        ～en～ブランドの作品展示・販売／<br>
        <br>
        出演者<br>
        ハチスノイト　歌手<br>
        　　　　http://sound.jp/mutyumu/<br>
        　　　　http://magdalaweb.com/<br>
        白石雪妃　書道家<br>
        　　　　http://www.setsuhi.jp/<br>
        ふぅ　琵琶奏者<br>
        　　　　http://biwabiwa7878.blog.fc2.com/<br>
        <br>
        ご予約<br>
        minamotm@gmail.com<br>
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        8月9日(土)東日本復興応援いけばな展　＠増上寺<br>
        14：00　いけばなライブパフォーマンス（光摂殿講堂）<br>
        華道家　塚越応駿<br>
        書道家　白石雪妃<br>
        打楽器　山岸直人<br>
        入場料：<br>
        【前売り券】両日ともに2,000円(1日限り有効）<br>
        【当日券】　両日ともに2,500円(1日限り有効）<br>
        ・売り上げの一部が義援金になります。<br>
        <br>
        8/5（火）自発的対称性の破れからテロル<br>
        19時開場　19時半開演　喫茶茶会記　<br>
        charge ￥3000（ドリンク付き）<br>
        <br>
        トマツタカヒロ　：肉態表現<br>
        白石雪妃　：書<br>
        大石将紀　：サクソフォン<br>
        <br>
        四谷三丁目　喫茶茶会記<br>
        新宿区大京町2-4　tel.03-3351-7904<br>
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        <div class="event-title">
          音楽 ✕ 書 即興ライブ
        </div>
        <div class="event-date">
          2014.7.20 19:30┈21:00
        </div>
        <div class="event-description">
          四谷3丁目 喫茶茶会記<br>
          Terry Day❲bamboo flute❳<br>
          Pearl Alexander ❲bass❳<br>
          Morishige Yasumune❲cello❳<br>
          白石雪妃❲書❳<br>
          gekkasha.modalbeats.com
        </div>
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        <div class="event-title">
          MOVE展 in teltow
        </div>
        <div class="event-date">
          2014.7.5⇀7.7  9:00┈19:00
        </div>
        <div class="event-description">
          鎌倉芸術館 鎌倉市大船6-1-2<br>
          (大船駅より徒歩10分)<br>
          kamakura-arts.jp
        </div>
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        <div class="event-title">
          たんざく展
        </div>
        <div class="event-date">
          2014.6.30⇀7.12
        </div>
        <div class="event-description">
          11:00┈19:00 (日曜休廊)<br> 
          art data bank 銀座<br>
          artdatabank.co.jp
        </div>
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        <div class="event-title">
          たんざく展 @ 新宿伊勢丹
        </div>
        <div class="event-date">
          2014.6.25 10:30┈20:00
        </div>
        <div class="event-description">
        </div>
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        <div class="event-title">
          フランスツアー
        </div>
        <div class="event-date">
          2014.6.12⇀7.1
        </div>
        <div class="event-description">
          「瞬刻」即興ライブなど<br>
          打楽器:山㟁直人 書:白石雪妃
        </div>
      </div>
    </div>
    <div class="tyle">
      <h3>{% ml ja="ライブ" en="Live Performance" %}</h3>
      <h4>{% ml ja="Jazz Meets 書道 ～美女トリオと仲間たち～" en="Jazz Meets Calligraphy: Gorgeous Girls Trio &amp; Company" %}</h4>
      <div class="row">
        <div class="col-md-8 col-lg-6">
          {% multilingual %}
          {% mlpart "ja" %}
          <p class="date-and-place">
            5月27日（火）
            ＠<a href="http://www.no-bird.com/">銀座No Bird</a>
          </p>
          <p class="street-address">
            〒104-0061 東京都中央区銀座7-3-7 ブランエスパ銀座B1F
            <br>
            <a href="http://goo.gl/maps/V3vpK"
               target="_blank"
               class="btn btn-default short-button">
              in Google Maps 
            </a>
          </p>
          <p class="reservation-info">
            ご予約はこちら
            <a href="http://www.no-bird.com/schedule_1405.html">銀座No Birdのスケジュール</a>
            (<span class="telephone-number">03-6280-6006</span>)
          </p>
          <p class="featuring">
            <span class="ib">白石雪妃(書家)</span>
            <span class="ib">{% link '高澤綾' %}(tp)</span>
            <span class="ib">{% link '小林岳五郎' %}(pf)</span>
            <span class="ib">{% link '山本裕之' %}(b)</span>
            <span class="ib">{% link '衣笠智英' %}(ds)</span>
            <span class="ib">{% link 'サラ・レクター' %}(vo)</span>
          </p>
          <p class="price-info">
            music charge ￥4,000 (2ステージ合計、税込)
          </p>
          <p class="times">
            open 18:00, 1st 19:30, 2nd 21:00 (入替なし)
          </p>
          {% endmlpart %}
          {% mlpart "en" %}
          <p class="date-and-place">
            May 27<sup>th</sup> (Tuesday)
            ＠<a href="http://www.no-bird.com/">Ginza No Bird</a>
          </p>
          <p class="street-address">
            〒104-0061 Tōkyō-to, Chūō-ku, Ginza, 7 Chome−3−5 Blanespa Ginza B1F
            <br>
            <a href="http://goo.gl/maps/V3vpK"
               target="_blank"
               class="btn btn-default short-button">
              in Google Maps 
            </a>
          </p>
          <p class="reservation-info">
            For reservations, please see:
            <a href="http://www.no-bird.com/schedule_1405.html">Ginza No Bird's schedule</a>
            (<span class="telephone-number">03-6280-6006</span>)
          </p>
          <p class="featuring">
            <span class="ib">Setsuhi Shiraishi (brush)</span>
            <span class="ib">{% link 'Aya Takazawa' %} (tp)</span>
            <span class="ib">{% link 'Takegorou Kobayashi' %} (pf)</span>
            <span class="ib">{% link 'Hiroyuki Yamamoto' %} (b)</span>
            <span class="ib">{% link 'Tomohide Hinugasa' %} (ds)</span>
            <span class="ib">{% link 'Sara Rector' %} (vo)</span>
          </p>
          <p class="price-info">
            music charge ￥4,000 (2 sets, tax included)
          </p>
          <p class="times">
            open 18:00, 1st 19:30, 2nd 21:00 (no break)
          </p>
          {% endmlpart %}
          {% endmultilingual %}
        </div><!--/.col for details-->
        <div class="col-md-4 col-lg-6">
          <img class="fit-image center-block"
               src="{% static 'media/images/ggtrio.jpg' %}" />
        </div><!--/.col for image-->
      </div><!--/.row-->
    </div><!--/.tyle for live-->
    <div class="tyle">
      <div class="event">
        <div class="event-title">
          個展：書画と{%link "縁~en~"%}アクセサリー
        </div>
        <div class="event-date">
          2014.4.30⇀5.30 10:00┈17:00 (土日祝休館)
        </div>
        <div class="event-description">
          プラス株式会社ショールーム<br>
          www.plus.co.jp/showroom/
        </div>
      </div>
    </div>

    <div class="tyle">
      <div class="event">
        <div class="event-title">
          直書観音 Vol. 4、音楽✕書ライブ
        </div>
        <div class="event-date">
          2014.4.27 (日) open 14:30 start 15:00
        </div>
        <div class="event-description">
          フルート:Miya　書:白石雪妃<br>
          料金：予約2500円 当日3000円<br>
          　　　学生2000円 小学生以下無料<br>
          予約：03-6427-9156(チームカノン)<br>
          　　　{{ "team.can-on@miya-music.com"|obfuscate_mailto }}<br>
          会場：路風舎 千葉県浦安市堀江3-5-2<br>
          　　　(東⻄線浦安駅より徒歩10分)<br>
          　　　浦安駅⻄口を左に出て<span class="ib">浦安駅前交差点を超え、</span><br>
          　　　<span class="ib">清龍神社まできたら左に</span><span class="ib">フラワー通りがあるので曲がる。</span><br>
          　　　<span class="ib">一つ目の路地を左折。</span>
        </div>
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        <div class="event-title">
          {%ml ja='新宿伊勢丹' en="Shinjuku Isetan's"%} Japan Museum for Kids
        </div>
        <div class="event-date">
          2014.3.153.17
        </div>
        <div class="event-description">

          {%multilingual%}
          {%mlpart 'ja'%}
          〜日本を学ぶ、知る、ふれる〜<br>
          白石雪妃 書道教室<br>
          〜気持ちを書で表現しよう〜音楽と共に
          {%endmlpart%}
          {%mlpart 'en'%}
          ~Learn, Know, Experience Japan~<br>
          Calligraphy Workshop with Setsuhi Shiraishi<br>
          ~Express your feelings with calligraphy~ along with music
          {%endmlpart%}
          {%endmultilingual%}

          <a href="http://www.isetanspecial.com/kids">www.isetanspecial.com/kids</a>
        </div>
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        <div class="event-title">
          ウーマンズエクスペリエンス
        </div>
        <div class="event-date">
          2014.3.22 (土) 11:30┈15:00
        </div>
        <div class="event-description">
          フレンチキッチン(個室)<br>
          グランドハイアット東京<br>
          書道ワークショップ・パフォーマンス<br>
          setsuhi.jp/womans-experience
        </div>
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        <div class="event-title">
          MOVE展 in teltow
        </div>
        <div class="event-date">
          2014.3.21⇀3.31
        </div>
        <div class="event-description">
          ドイツ<br>
          BURGERHAUS<br>
          Neues Rathaus Teltow<br>
          (テルトウ市庁舎新館)
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}
