{% extends "page-base.html" %}
{% load staticfiles multilingual link email_obfuscator smallcaps %}


{%block super_class%} has-background-image {%endblock%}


{% block main_content %}
<div class="container full-width no-padding">
  <div class="tyle-header">
    <h2>{{ "Upcoming Events"|smallcaps }}</h2>
  </div>
  <div id="upcoming-events" class="tyle-section event-section">
    <div class="tyle">
      <div class="event">
        <div class="event-title">
          フランスツアー
        </div>
        <div class="event-date">
          2014.6.12⇀7.1
        </div>
        <div class="event-description">
          「瞬刻」即興ライブなど<br>
          打楽器:山㟁直人 書:白石雪妃
        </div>
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        <div class="event-title">
          たんざく展 @ 新宿伊勢丹
        </div>
        <div class="event-date">
          2014.6.25 10:30┈20:00
        </div>
        <div class="event-description">
        </div>
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        <div class="event-title">
          たんざく展
        </div>
        <div class="event-date">
          2014.6.30⇀7.12
        </div>
        <div class="event-description">
          11:00┈19:00 (日曜休廊)<br> 
          art data bank 銀座<br>
          artdatabank.co.jp
        </div>
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        <div class="event-title">
          MOVE展 in teltow
        </div>
        <div class="event-date">
          2014.7.5⇀7.7  9:00┈19:00
        </div>
        <div class="event-description">
          鎌倉芸術館 鎌倉市大船6-1-2<br>
          (大船駅より徒歩10分)<br>
          kamakura-arts.jp
        </div>
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        <div class="event-title">
          音楽 ✕ 書 即興ライブ
        </div>
        <div class="event-date">
          2014.7.20 19:30┈21:00
        </div>
        <div class="event-description">
          四谷3丁目 喫茶茶会記<br>
          Terry Day❲bamboo flute❳<br>
          Pearl Alexander ❲bass❳<br>
          Morishige Yasumune❲cello❳<br>
          白石雪妃❲書❳<br>
          gekkasha.modalbeats.com
        </div>
      </div>
    </div>
  </div>

  <!------------------------------------------->

  <div class="tyle-header">
    <h2>{{ "Recent Events"|smallcaps }}</h2>
  </div>
  <div id="recent-events" class="tyle-section event-section">
    <div class="tyle">
      <h3>{% ml ja="ライブ" en="Live Performance" %}</h3>
      <h4>{% ml ja="Jazz Meets 書道 ～美女トリオと仲間たち～" en="Jazz Meets Calligraphy: Gorgeous Girls Trio &amp; Company" %}</h4>
      <div class="row">
        <div class="col-md-8 col-lg-6">
          {% multilingual %}
          {% mlpart "ja" %}
          <p class="date-and-place">
            5月27日（火）
            ＠<a href="http://www.no-bird.com/">銀座No Bird</a>
          </p>
          <p class="street-address">
            〒104-0061 東京都中央区銀座7-3-7 ブランエスパ銀座B1F
            <br>
            <a href="http://goo.gl/maps/V3vpK"
               target="_blank"
               class="btn btn-default short-button">
              in Google Maps 
            </a>
          </p>
          <p class="reservation-info">
            ご予約はこちら
            <a href="http://www.no-bird.com/schedule_1405.html">銀座No Birdのスケジュール</a>
            (<span class="telephone-number">03-6280-6006</span>)
          </p>
          <p class="featuring">
            <span class="ib">白石雪妃(書家)</span>
            <span class="ib">{% link '高澤綾' %}(tp)</span>
            <span class="ib">{% link '小林岳五郎' %}(pf)</span>
            <span class="ib">{% link '山本裕之' %}(b)</span>
            <span class="ib">{% link '衣笠智英' %}(ds)</span>
            <span class="ib">{% link 'サラ・レクター' %}(vo)</span>
          </p>
          <p class="price-info">
            music charge ￥4,000 (2ステージ合計、税込)
          </p>
          <p class="times">
            open 18:00, 1st 19:30, 2nd 21:00 (入替なし)
          </p>
          {% endmlpart %}
          {% mlpart "en" %}
          <p class="date-and-place">
            May 27<sup>th</sup> (Tuesday)
            ＠<a href="http://www.no-bird.com/">Ginza No Bird</a>
          </p>
          <p class="street-address">
            〒104-0061 Tōkyō-to, Chūō-ku, Ginza, 7 Chome−3−5 Blanespa Ginza B1F
            <br>
            <a href="http://goo.gl/maps/V3vpK"
               target="_blank"
               class="btn btn-default short-button">
              in Google Maps 
            </a>
          </p>
          <p class="reservation-info">
            For reservations, please see:
            <a href="http://www.no-bird.com/schedule_1405.html">Ginza No Bird's schedule</a>
            (<span class="telephone-number">03-6280-6006</span>)
          </p>
          <p class="featuring">
            <span class="ib">Setsuhi Shiraishi (brush)</span>
            <span class="ib">{% link 'Aya Takazawa' %} (tp)</span>
            <span class="ib">{% link 'Takegorou Kobayashi' %} (pf)</span>
            <span class="ib">{% link 'Hiroyuki Yamamoto' %} (b)</span>
            <span class="ib">{% link 'Tomohide Hinugasa' %} (ds)</span>
            <span class="ib">{% link 'Sara Rector' %} (vo)</span>
          </p>
          <p class="price-info">
            music charge ￥4,000 (2 sets, tax included)
          </p>
          <p class="times">
            open 18:00, 1st 19:30, 2nd 21:00 (no break)
          </p>
          {% endmlpart %}
          {% endmultilingual %}
        </div><!--/.col for details-->
        <div class="col-md-4 col-lg-6">
          <img class="fit-image center-block"
               src="{% static 'media/images/ggtrio.jpg' %}" />
        </div><!--/.col for image-->
      </div><!--/.row-->
    </div><!--/.tyle for live-->
    <div class="tyle">
      <div class="event">
        <div class="event-title">
          個展：書画と{%link "縁~en~"%}アクセサリー
        </div>
        <div class="event-date">
          2014.4.30⇀5.30 10:00┈17:00 (土日祝休館)
        </div>
        <div class="event-description">
          プラス株式会社ショールーム<br>
          www.plus.co.jp/showroom/
        </div>
      </div>
    </div>

    <div class="tyle">
      <div class="event">
        <div class="event-title">
          直書観音 Vol. 4、音楽✕書ライブ
        </div>
        <div class="event-date">
          2014.4.27 (日) open 14:30 start 15:00
        </div>
        <div class="event-description">
          フルート:Miya　書:白石雪妃<br>
          料金：予約2500円 当日3000円<br>
          　　　学生2000円 小学生以下無料<br>
          予約：03-6427-9156(チームカノン)<br>
          　　　{{ "team.can-on@miya-music.com"|obfuscate_mailto }}<br>
          会場：路風舎 千葉県浦安市堀江3-5-2<br>
          　　　(東⻄線浦安駅より徒歩10分)<br>
          　　　浦安駅⻄口を左に出て<span class="ib">浦安駅前交差点を超え、</span><br>
          　　　<span class="ib">清龍神社まできたら左に</span><span class="ib">フラワー通りがあるので曲がる。</span><br>
          　　　<span class="ib">一つ目の路地を左折。</span>
        </div>
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        <div class="event-title">
          {%ml ja='新宿伊勢丹' en="Shinjuku Isetan's"%} Japan Museum for Kids
        </div>
        <div class="event-date">
          2014.3.153.17
        </div>
        <div class="event-description">

          {%multilingual%}
          {%mlpart 'ja'%}
          〜日本を学ぶ、知る、ふれる〜<br>
          白石雪妃 書道教室<br>
          〜気持ちを書で表現しよう〜音楽と共に
          {%endmlpart%}
          {%mlpart 'en'%}
          ~Learn, Know, Experience Japan~<br>
          Calligraphy Workshop with Setsuhi Shiraishi<br>
          ~Express your feelings with calligraphy~ along with music
          {%endmlpart%}
          {%endmultilingual%}

          <a href="http://www.isetanspecial.com/kids">www.isetanspecial.com/kids</a>
        </div>
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        <div class="event-title">
          ウーマンズエクスペリエンス
        </div>
        <div class="event-date">
          2014.3.22 (土) 11:30┈15:00
        </div>
        <div class="event-description">
          フレンチキッチン(個室)<br>
          グランドハイアット東京<br>
          書道ワークショップ・パフォーマンス<br>
          setsuhi.jp/womans-experience
        </div>
      </div>
    </div>
    <div class="tyle">
      <div class="event">
        <div class="event-title">
          MOVE展 in teltow
        </div>
        <div class="event-date">
          2014.3.21⇀3.31
        </div>
        <div class="event-description">
          ドイツ<br>
          BURGERHAUS<br>
          Neues Rathaus Teltow<br>
          (テルトウ市庁舎新館)
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}
