@import (less) "gradient.less";
@import (less) "generic.less";
@import (less) "blob-button.less";


@nav-color: #500050;
@nav-width: 144px;

@meishi-average-color: #562987;

@button-color: #f0f0f0;
@bsize: 100px;



#main-navigation {

    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: @nav-width;
    background-color: @nav-color;
    text-align: center;

    .box-shadow( -5px, 0, 15px, 0.5 );

    .navigation-button {
        .blob-button( @bsize, 20px );
        margin: 1em   (@nav-width - @bsize)/2;
    }


}

.meishi-bg {
    background: url('/static/main/images/meishi-texture-piece.png');
}
