.opensans {
    font-family: 'Open Sans', sans-serif;
}

.opensans-condensed {
    font-family: 'Open Sans Condensed', sans-serif;
}

span, div {
    &[lang='en'] {
        .opensans;
    }
    &[lang='ja'] {
        font-family: 'TakaoMincho';
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}


.black {
    background-color: black;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}


.indented {
    margin-left: 2em;
}


.bold {
    font-weight: 700;
}

.semibold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.font-22 {
    font-size: 22px;
}

.font-30 {
    font-size: 30px;
}

.font-32 {
    font-size: 32px;
}


.pad {
    &-x {
        &-8 {
            padding-left: 8px;
            padding-right: 8px;
        }
        &-10 {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}


// This is probably pretty risky.. look into later.
// I'm overriding bootstrap's incremental pixel-widths.
.container {
    width: 100%;
}
