@import (less) "generic.less";
@import (less) "phota-grid.less";


@brief-frame-height: 100px;

.phota-grid {
    .phota-grid-of( 3 );

    // Accounting for the brief frame below
    margin-bottom: @brief-frame-height;
}

#photum-brief-frame {
    height: @brief-frame-height;
}



.bg-1 {
    .cover-background( "@{s3-url}static/media/images/background/1/bg-md.jpg" );
}
