@import (less) "generic.less";
@import (less) "colors.less";
@import (less) "phota-grid.less";


.opensans {
    font-family: 'Open Sans', sans-serif;
}

.opensans-condensed {
    font-family: 'Open Sans Condensed', sans-serif;
}

.takao {
    font-family: 'TakaoMincho';
}

[lang="ja"] {
    font-family: 'TakaoMincho' !important;
}

[lang="en"] {
    font-family: sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    span, div {
        font-family: inherit !important;
    }
}


body {
    background-color: transparent;
}


ul, ol {
    &.shallow {
        -webkit-padding-start: 24px;
    }
}


.ib {
    display: inline-block;
}


.nophone {
    display: none;
}

#ml-titles {
    display: none;
}

.ml-off {
    display: none;
}

.ml-mobile-widget {
    .active {
        display: none;
    }
}



.bg-image {
    z-index: -100;
}

.bg-photo-credit {
    margin: 15px;
    float: right;
}

// By default, the background image stuff
// will not be displayed.  Turn it on with
// that class below.
.bg-image, .bg-photo-credit {
    display: none;
}
.has-background-image {
    .bg-image, .bg-photo-credit {
        display: block;
    }
}
    
.bg-1 {
    .cover-background( "@{s3-url}static/media/images/background/1/bg-xs.jpg" );
}



#copyright {
    font-size: 10px;
    margin: 20px 15px;
}



// I don't know why bootstrap didn't make these
// full width in the first place.
.carousel-indicators {
    width: 100%;
    margin-left: -50%;
}


.tyle-header {
    margin: 0 30px;
}

.scroll-marker {
    padding-top: 50px; // compensate for nav bar in mobile
}

.tyle {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 15px 30px;
    margin-bottom: 50px;

    &:first-child {
        margin-top: 0;
    }

    .tyle-text {
        h1, h2, h3, h4, h5, h6 {
            margin-top: 0.5em;
        }
    }

    .tyle-slideshow {
        .carousel {
            .carousel-inner {
                img {
                    .fit-image;
                    .center-image;
                }
            }

            .carousel-control {
                background-image: none;
            }
        }
        .carousel-indicators {
            margin-bottom: -50px;
            li {
                width: 14px;
                height: 14px;
                margin: 2px;
                border: none;
                background-color: @soft-black;
                &.active {
                    background-color: @setsuhi-murasaki;
                }
            }
        }
    }
}



#main-content {
    padding-top: 52px; // mobile navbar
}


.navbar-setsuhi {

    background-color: @setsuhi-murasaki;
    
    a {
        color: white !important;
        &:hover {
            color: rgb(150, 60, 100) !important;
        }
    }

    .navbar-brand {
        [lang="en"] {
            font-size: 15px;
        }
    }

    .ml-mobile-widget {
        position: absolute;
        right: 74px;
        margin: (50px - 22px) / 2 0;
        
        a {
            cursor: pointer;
            &:hover {
                text-decoration: none;
            }
        }
    }
}




.phota-grid {
    .phota-grid-of( 1 );
}

// We won't have the fixed description area
// on mobile so we need to have each
// piece of associated text underneath each
// cover photo.
.photum-caption {
    display: block;
    padding-left: 2%;
    padding-right: 6%;
}
#photum-brief-frame {
    display: none;
}

.photum-brief {
    display: none;
    &.active {
        display: block;
    }
}





#contact-form-wrapper {
    .row {
        margin-bottom: 15px;
    }

    input[type='text'], textarea {
        width: 100%;
    }

    textarea {
        height: 150px;
    }
}





.alphabet-list {
    > li {
        list-style-type: upper-alpha;
    }
}

.rounded-square-list {
    > li {
        list-style-type: none;

        &:before {
            content: "▢";
            margin-left: -1.4em;
        }
    }
}





.lesson-section {
    padding-top: 50px;
    padding-bottom: 50px;
    &:last-child {
        margin-bottom: 100px;
    }
}


.lesson-subsection-label {
    font-size: 1.4em;
}





.simple-image-list {
    .image-item {
        width: 100%;

        img {
            .center-image;
            max-width: 100%;
            max-height: 80%;
        }

        margin-bottom: 100px;
    }
}




.slidesjs {
    .slidesjs-container {
        margin-bottom:10px;
    }
    
    .slidesjs-previous {
        margin-right: 5px;
        float:left;
    }

    .slidesjs-next {
        margin-right: 5px;
        float:left;
    }
    
    .slidesjs-pagination {
        margin:6px 0 0;
        float: right;
        list-style: none;

        li {
            float: left;
            margin: 0 1px;

            a {
                display: block;
                width: 13px;
                height: 0;
                padding-top: 13px;
                background-image: url("@{s3-url}static/media/images/pagination.png");
                background-position: 0 0;
                float: left;
                overflow: hidden;

                &.active, &:hover.active {
                    background-position: 0 -13px;
                }

                &:hover {
                    background-position: 0 -26px;
                }
            }
        }    
    }

    a {
        &:link, &:visited {
            color: #333;
        }

        &:hover, &:active {
            color: #9e2020;
        }
    }
}
