body {
    font-family: 'Open Sans', sans-serif;
}

.condensed {
    font-family: 'Open Sans Condensed', sans-serif;
}

span, div {
    &[lang='ja'] {
        font-family: 'TakaoMincho';
    }
}

.black {
    background-color: black;
}
