@import (less) "generic.less";
@import (less) "variables.less";



.justphone {
    display: none;
}

.nophone {
    display: initial;
}

.section-separator {
    margin-top: 4em;
    margin-bottom: 4em;
}

.photo-theca {
    margin: 1em;
}



.bg-1 {
    .cover-background( "@{s3-url}static/media/images/background/1/bg-sm.jpg" );
}



//===================================
// SIDE DOCKS



.side-dock( @width: @side-dock-width, 
            @bg: @dock-background,
            @fg: @dock-foreground ) 
{
    position: fixed;
    top: 0;
    bottom: 0;
    width: @width;
    background-color: @bg;
    color: @fg;
}

.dock-shadow( @x ) {
    .box-shadow( @x, 0, 15px, 0.5 );
}

#left-dock {
    .side-dock;
    left: 0;
    .dock-shadow( 5px );

    line-height: 1.2;

    .setsuhi-name {
        &[lang='en'] {
            padding: 0 4px;
            font-size: 15px;
        }
        &[lang='ja'] {
            font-size: 24px;
        }
    }
}


.signature {
    width: 100%;
    padding: 20px;
    height: initial;
}


.ml-widget {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4px;

    .ml-btn-group {
        width: 100%;
    }

    .ml-button {
        background-color: #222;
        color: #CCC;
        opacity: 0.4;
        border: 1px solid transparent;
        .transition( all, 0.1s, ease-in );
        padding: 3px;
        padding-right: 0;
        width: 100%;
        margin: 2px 0;

        .language-name {
            display: inline;
            font-size: 13px;
            font-family: serif;
        }

        &.active {
            background-color: @subteal;
            opacity: 1;
        }

        &:hover {
            border-color: lightgray;
            opacity: @hover-opacity;
        }

        .ml-flag {
            width: @ml-flag-width;
        }
        
        // Union Jack's aspect ratio is 2:1, whereas
        // Hinomaru's is 3:2.  This will vertically
        // center Union Jack.
        &[lang='en'] .ml-flag {
            @m: @ml-flag-width / 12;
            margin-top: @m;
            margin-bottom: @m;
        }
    }
}



#right-dock {
    .side-dock;
    .dock-shadow( -5px );
    right: 0;
    text-align: center;

    .navigation-button, 
    #navigation-spill-menu-wrapper {
        // The only way I found to center them is manually
        margin: 12px @boxi-margin;
        //TODO: look into why the menu button is centered
        //      even without this margin.

        #navigation-spill-menu-button {
            .glyphicon {
                font-size: 16px;
            }
        }
    }

    .navitem-on {
        display: block;
    }
    .navitem-off {
        display: none;
    }

    .upleft-menu {
        left: initial;
        top: initial;
        right: 70px;
        bottom: 0;
    }
}



.boxi {
    width: @boxi-size;
    height: @boxi-size;

    border: 1px solid @boxi-border-color;
    border-radius: 4px;
    background-color: @boxi-background;
    color: @boxi-foreground;


    font-size: 13px;
    font-family: sans-serif;
    //    text-transform: uppercase;
    [lang="ja"] {
        font-size: 15px;
        font-family: serif;
    }

    // This places the content at the bottom right
    position: relative;
    .boxi-br {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 3px;
    }

    cursor: pointer;

    &.present-page {
        background-color: @subteal;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
    }

    &:hover {
        background-color: @boxi-foreground;
        color: @boxi-background;
    }

    .transition( all, 0.1s, ease-in );
}

.boxiguchi {
    position: absolute;
    height: @boxi-size + 2*@boxi-margin;
    top: -@boxi-margin;
    width: @boxi-margin;
    left: -@boxi-margin;
    background-color: inherit;
    overflow: hidden;

    @guchi-curve-spil: 1px;
    @guchi-radius: (@boxi-margin + @guchi-curve-spil);
    .guchi-corner {
        position: absolute;
        width: 2*@guchi-radius;
        height: 2*@guchi-radius;
        left: -@guchi-curve-spil;
        background-color: @dock-background;
        border: 1px solid @boxi-border-color;
        border-radius: @guchi-radius;

        &.guchi-top {
            top: -1-@guchi-radius;
        }
        &.guchi-bottom {
            bottom: 1-@guchi-radius;
        }
    }
}


// Accomodate for the side docks
#main-content {
    // This also removes the top padding that was
    // for the mobile navbar.
    padding: 0 @side-dock-width;
}





#contact-form-wrapper {
    margin: 20px;

    .field-label-column, label {
        text-align: right;
    }

    input[type='text'], input[type='email'], input[type='tel'] {
        width: 250px;
    }
    textarea {
        width: 100%;
    }
}


.tyle {
    margin-bottom: 100px;
}

.scroll-marker {
    padding-top: 0;
}



.fixed-responsive-video {
    .aspect-widescreen( 508px );
}


.galleria {
    height: 400px;
}
