/* Extra small devices (phones, less than 768px) */
.black {
  background-color: black;
}
.half-black {
  background-color: rgba(0, 0, 0, 0.5);
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.left-align {
  text-align: left;
}
.center-align {
  text-align: center;
}
.right-align {
  text-align: right;
}
.indented {
  margin-left: 2em;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.font-22 {
  font-size: 22px;
}
.font-24 {
  font-size: 24px;
}
.font-30 {
  font-size: 30px;
}
.font-32 {
  font-size: 32px;
}
.pad-x-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.pad-x-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.pad-x-15 {
  padding-left: 10px;
  padding-right: 10px;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.full-viewport {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cap-width {
  max-width: 100%;
}
.cap-height {
  max-height: 100%;
}
.no-padding {
  padding: 0;
}
.center-image {
  margin-left: auto;
  margin-right: auto;
}
.fit-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.full-width-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  max-height: initial;
}
.opensans {
  font-family: 'Open Sans', sans-serif;
}
.opensans-condensed {
  font-family: 'Open Sans Condensed', sans-serif;
}
.takao {
  font-family: 'TakaoMincho';
}
[lang="ja"] {
  font-family: 'TakaoMincho' !important;
}
[lang="en"] {
  font-family: sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
h1 div,
h2 div,
h3 div,
h4 div,
h5 div,
h6 div {
  font-family: inherit !important;
}
body {
  background-color: transparent;
}
ul.shallow,
ol.shallow {
  -webkit-padding-start: 24px;
}
.ib {
  display: inline-block;
}
.nophone {
  display: none;
}
#ml-titles {
  display: none;
}
.ml-off {
  display: none;
}
.ml-mobile-widget .active {
  display: none;
}
.bg-image {
  z-index: -100;
}
.bg-photo-credit {
  margin: 15px;
  float: right;
}
.bg-image,
.bg-photo-credit {
  display: none;
}
.has-background-image .bg-image,
.has-background-image .bg-photo-credit {
  display: block;
}
.bg-1 {
  background: url("http://s3-ap-northeast-1.amazonaws.com/setsuhi-tokyo/static/media/images/background/1/bg-xs.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#copyright {
  font-size: 10px;
  margin: 20px 15px;
}
.carousel-indicators {
  width: 100%;
  margin-left: -50%;
}
.tyle-header {
  margin: 0 30px;
}
.scroll-marker {
  padding-top: 50px;
}
.tyle {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 15px 30px;
  margin-bottom: 50px;
}
.tyle:first-child {
  margin-top: 0;
}
.tyle .tyle-text h1,
.tyle .tyle-text h2,
.tyle .tyle-text h3,
.tyle .tyle-text h4,
.tyle .tyle-text h5,
.tyle .tyle-text h6 {
  margin-top: 0.5em;
}
.tyle .tyle-slideshow .carousel .carousel-inner img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.tyle .tyle-slideshow .carousel .carousel-control {
  background-image: none;
}
.tyle .tyle-slideshow .carousel-indicators {
  margin-bottom: -50px;
}
.tyle .tyle-slideshow .carousel-indicators li {
  width: 14px;
  height: 14px;
  margin: 2px;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
}
.tyle .tyle-slideshow .carousel-indicators li.active {
  background-color: #400050;
}
#main-content {
  padding-top: 52px;
}
.navbar-setsuhi {
  background-color: #400050;
}
.navbar-setsuhi a {
  color: white !important;
}
.navbar-setsuhi a:hover {
  color: #963c64 !important;
}
.navbar-setsuhi .navbar-brand [lang="en"] {
  font-size: 15px;
}
.navbar-setsuhi .ml-mobile-widget {
  position: absolute;
  right: 74px;
  margin: 14px 0;
}
.navbar-setsuhi .ml-mobile-widget a {
  cursor: pointer;
}
.navbar-setsuhi .ml-mobile-widget a:hover {
  text-decoration: none;
}
.phota-grid {
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
}
.phota-grid a:hover {
  text-decoration: none;
}
.phota-grid .stretchy-image-item {
  border: 1px solid black;
  width: 92%;
  height: auto;
  margin: 2%;
}
.phota-grid .photum-cover {
  border: 1px solid black;
  width: 92%;
  height: auto;
  margin: 2%;
}
.photum-caption {
  display: block;
  padding-left: 2%;
  padding-right: 6%;
}
#photum-brief-frame {
  display: none;
}
.photum-brief {
  display: none;
}
.photum-brief.active {
  display: block;
}
#contact-form-wrapper .row {
  margin-bottom: 15px;
}
#contact-form-wrapper input[type='text'],
#contact-form-wrapper textarea {
  width: 100%;
}
#contact-form-wrapper textarea {
  height: 150px;
}
.alphabet-list > li {
  list-style-type: upper-alpha;
}
.rounded-square-list > li {
  list-style-type: none;
}
.rounded-square-list > li:before {
  content: "▢";
  margin-left: -1.4em;
}
.lesson-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.lesson-section:last-child {
  margin-bottom: 100px;
}
.lesson-subsection-label {
  font-size: 1.4em;
}
.simple-image-list .image-item {
  width: 100%;
  margin-bottom: 100px;
}
.simple-image-list .image-item img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 80%;
}
.slidesjs .slidesjs-container {
  margin-bottom: 10px;
}
.slidesjs .slidesjs-previous {
  margin-right: 5px;
  float: left;
}
.slidesjs .slidesjs-next {
  margin-right: 5px;
  float: left;
}
.slidesjs .slidesjs-pagination {
  margin: 6px 0 0;
  float: right;
  list-style: none;
}
.slidesjs .slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}
.slidesjs .slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url("http://s3-ap-northeast-1.amazonaws.com/setsuhi-tokyo/static/media/images/pagination.png");
  background-position: 0 0;
  float: left;
  overflow: hidden;
}
.slidesjs .slidesjs-pagination li a.active,
.slidesjs .slidesjs-pagination li a:hover.active {
  background-position: 0 -13px;
}
.slidesjs .slidesjs-pagination li a:hover {
  background-position: 0 -26px;
}
.slidesjs a:link,
.slidesjs a:visited {
  color: #333;
}
.slidesjs a:hover,
.slidesjs a:active {
  color: #9e2020;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .justphone {
    display: none;
  }
  .nophone {
    display: initial;
  }
  .section-separator {
    margin-top: 4em;
    margin-bottom: 4em;
  }
  .photo-theca {
    margin: 1em;
  }
  .bg-1 {
    background: url("http://s3-ap-northeast-1.amazonaws.com/setsuhi-tokyo/static/media/images/background/1/bg-sm.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #left-dock {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100px;
    background-color: #400050;
    color: #ffffff;
    left: 0;
    -webkit-box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
    line-height: 1.2;
  }
  #left-dock #signature-div {
    width: 100%;
    padding: 25px;
  }
  #left-dock #signature-div #signature {
    width: 100%;
    transition: all 0.2s ease-in;
    -webkit-filter: invert();
    -moz-filter: invert();
    filter: invert();
  }
  #left-dock #signature-div #signature:hover {
    -webkit-filter: initial;
    -moz-filter: initial;
    filter: initial;
  }
  .ml-widget {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
  }
  .ml-widget .ml-btn-group {
    width: 100%;
  }
  .ml-widget .ml-language {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: silver;
    border-color: black;
    transition: all 0.1s ease-in;
    padding: 4px 8px 4px;
  }
  .ml-widget .ml-language img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.4s ease-in;
  }
  .ml-widget .ml-language .active-indicator {
    opacity: 0;
    transition: opacity 0.4s ease-in;
    font-family: serif !important;
  }
  .ml-widget .ml-language.active {
    background-color: gray;
    font-weight: bold;
    color: #400050;
  }
  .ml-widget .ml-language.active img {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    filter: grayscale(0);
  }
  .ml-widget .ml-language.active .active-indicator {
    opacity: 1;
  }
  .ml-widget .ml-language:hover {
    background-color: silver;
    color: black;
  }
  .ml-widget .ml-language[lang='en'] img {
    margin: 2.5px 0;
  }
  #right-dock {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100px;
    background-color: #400050;
    color: #ffffff;
    -webkit-box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
    right: 0;
    text-align: center;
  }
  #right-dock .navlink-wrapper {
    margin: 1em 18px;
  }
  .boxi {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    color: white;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in;
  }
  .boxi .boxi-br {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 3px;
  }
  .boxi:hover {
    background-color: white;
    color: #400050;
  }
  #seal-div {
    position: absolute;
    bottom: 0;
    z-index: -1;
    padding: 0 30px 15px;
  }
  #seal-div #seal {
    width: 100%;
    transition: all 0.25s ease-in;
  }
  #seal-div #seal:hover {
    -webkit-filter: invert();
    -moz-filter: invert();
    filter: invert();
  }
  #main-content {
    padding: 0 100px;
  }
  .phota-grid {
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    margin-bottom: 140px;
  }
  .phota-grid a:hover {
    text-decoration: none;
  }
  .phota-grid .stretchy-image-item {
    border: 1px solid black;
    width: 44%;
    height: auto;
    margin: 2%;
  }
  .phota-grid .photum-cover {
    border: 1px solid black;
    width: 44%;
    height: auto;
    margin: 2%;
  }
  .phota-grid .photum-caption {
    display: none;
  }
  #photum-brief-frame {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 140px;
    background-color: rgba(255, 255, 255, 0.95);
    border-top: 1px solid #400050;
    margin-left: 100px;
    margin-right: 100px;
  }
  #photum-brief-frame #photum-brief-area {
    padding-left: 4%;
    padding-right: 4%;
  }
  #contact-form-wrapper {
    margin: 20px;
  }
  #contact-form-wrapper .field-label-column,
  #contact-form-wrapper label {
    text-align: right;
  }
  #contact-form-wrapper input[type='text'],
  #contact-form-wrapper input[type='email'] {
    width: 250px;
  }
  #contact-form-wrapper textarea {
    width: 100%;
  }
  .tyle {
    margin-bottom: 100px;
  }
  .scroll-marker {
    padding-top: 0;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .phota-grid {
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    margin-bottom: 100px;
  }
  .phota-grid a:hover {
    text-decoration: none;
  }
  .phota-grid .stretchy-image-item {
    border: 1px solid black;
    width: 28%;
    height: auto;
    margin: 2%;
  }
  .phota-grid .photum-cover {
    border: 1px solid black;
    width: 28%;
    height: auto;
    margin: 2%;
  }
  #photum-brief-frame {
    height: 100px;
  }
  .bg-1 {
    background: url("http://s3-ap-northeast-1.amazonaws.com/setsuhi-tokyo/static/media/images/background/1/bg-md.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .phota-grid {
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
  }
  .phota-grid a:hover {
    text-decoration: none;
  }
  .phota-grid .stretchy-image-item {
    border: 1px solid black;
    width: 20%;
    height: auto;
    margin: 2%;
  }
  .phota-grid .photum-cover {
    border: 1px solid black;
    width: 20%;
    height: auto;
    margin: 2%;
  }
  #contact-form-wrapper textarea {
    width: 612px;
  }
  .bg-1 {
    background: url("http://s3-ap-northeast-1.amazonaws.com/setsuhi-tokyo/static/media/images/background/1/bg-lg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
