{% extends 'main/base.html' %}
{% load staticfiles multilingual link %}

{% block main_content %}

<div id="bio">
  <h2>{% ml en="Bio" ja="バイオ" %}</h2>
  <div style="float:right; margin-left:8px;">
    <img src="{% static 'main/images/profile1.jpg' %}" />
  </div>
  {% multilingual %}
    {% mlpart "ja" %}
      <p>
        幼少より書に興味を持つ。22歳で師範取得。<br>
        伝統的な書の世界を伝えつつ独特のスタイルを追求しながら<br>
        音楽芸術、美術とのコラボレーションなど、<br>
        書道を総合芸術として昇華させる世界観は高く評価されている。<br>
        フランス、ＮＹなど海外でも積極的に活動し、<br>
        生演奏との融合から生まれるライブパフォーマンスは世界中で多くのファンを魅了している。<br>
        2014ＦＩＦＡワールドカップ　サッカー{% link "日本代表新ユニフォーム" %}のコンセプト「円陣」揮毫。<br>
        ダイナースクラブ銀座ラウンジ、<br>
        マンダリンオリエンタル東京（Fissler圧力鍋発売60周年イベント）、<br>
        大英博物館で揮毫、{% link "London Improvisers Orchestra" %}と共演。<br>
        パリでアートフェア・個展、NYで個展・Jazz clubライブ出演、ワークショップを開催。<br>
        マリアシュナイダーオーケストラの{% link "Jay Anderson" %}, {% link "Frank Kinbrough" %}, 
        ジャズホルニストの{% link "Adam Unsworth" %}と共演。<br>
        世界的古筝奏者：{% link "姜小青" %}CDジャケット制作。
      </p>
      <p>
        自身が手掛ける書とアクセサリーのコラボブランド〜en〜縁は、<br>
        渋谷ヒカリエやアベノハルカス近鉄本店など、現在静岡伊勢丹にて常設されている。<br>
        四谷三丁目{% link "喫茶茶会記" %}書道サロン主宰、青山書道教室講師。
      </p>
      <p>
        電子書籍雑誌 {% link "Vasco da Gama" %} 連載中
      </p>
    {% endmlpart %}
    {% mlpart "en" %}
      <p>
        Having been interested in calligraphy during her childhood,
        Setsuhi became a calligraphy master at 22 years old.
        She is pursuing her own unique style of calligraphy while
        expressing the world of traditional calligraphy.
        The world she creates by subliming calligraphy into a composite art
        through collaboration with musical and fine arts is highly regarded.
        She has also been active outside of Japan,
        attracting many fans from around the world through her
        live collaborative performances with music.
      </p>
      <p>
        Setsuhi has given calligraphy performances at various places
        including the private salon Diners Club Ginza Lounge in Tokyo,
        the Mandarin Oriental Hotel Tokyo
        (at the 60th anniversary event of the launch of Fissler’s pressure cookers),
        and the British Museum in London.
        She also held a joint performance with the {% link "London Improvisers Orchestra" %},
        participated in an art fair in Paris,
        and held personal exhibitions in both Paris and New York.
        Also in New York, Setsuhi conducted a calligraphy workshop and
        performed in both a jazz club and an art gallery with {% link "Jay Anderson" %} and
        {% link "Frank Kinbrough" %} of the Maria Schneider Orchestra as
        well as jazz horn player {% link "Adam Unsworth" %}.
      </p>
      <p>
        In addition, Setsuhi calligraphed the title on a CD cover
        for {% link "Jiang Xiao-Qing" %}, a world-famous player of the
        traditional Chinese &ldquo;guzheng&rdquo; string instrument.
      </p>
      <p>
        Setsuhi collaborates with accessory designer {% link "Ryona" %} to create
        {% link "縁" %} (&ldquo;en&rdquo;), their unique brand of calligraphic accessories.
        The {% link "縁" %} (&ldquo;en&rdquo;) brand is sold at limited-time
        stores at the Shibuya Hikarie in Tokyo and the
        Abeno Harukas Kintetsu Main Store in Osaka,
        and is now permanently sold at the Shizuoka Isetan
        Department Store in Shizuoka, Japan.
      </p>
      <p>
        Futhermore, Setsuhi has hosted the calligraphy salon at
        the art space and cafeteria {% link "Sakaiki" %} in Shinjuku, Tokyo and
        is a lecturer at the {% link "Aoyama Calligraphy School" %} in Shibuya, Tokyo.
        She also writes for the digital magazine, {% link "Vasco da Gama" %}.
      </p>
    {% endmlpart %}
  {% endmultilingual %}
</div>

{% endblock main_content %}
