{% extends 'main/base.html' %}
{% load staticfiles multilingual link %}

{% block main_content %}

<div id="bio">
  <h2>{% ml en="Bio" ja="バイオ" %}</h2>
  <div style="float:right; margin-left:8px;">
    <img src="{% static 'main/images/profile1.jpg' %}" />
  </div>
  {% multilingual %}
    {% mlpart "ja" %}
      <p>
        幼少より書に興味を持つ。22歳で師範取得。<br>
        伝統的な書の世界を伝えつつ独特のスタイルを追求しながら<br>
        音楽芸術、美術とのコラボレーションなど、<br>
        書道を総合芸術として昇華させる世界観は高く評価されている。<br>
        フランス、ＮＹなど海外でも積極的に活動し、<br>
        生演奏との融合から生まれるライブパフォーマンスは世界中で多くのファンを魅了している。<br>
        2014ＦＩＦＡワールドカップ　サッカー{% link "日本代表新ユニフォーム" %}のコンセプト「円陣」揮毫。<br>
        ダイナースクラブ銀座ラウンジ、<br>
        マンダリンオリエンタル東京（Fissler圧力鍋発売60周年イベント）、<br>
        大英博物館で揮毫、{% link "London Improvisers Orchestra" %}と共演。<br>
        パリでアートフェア・個展、NYで個展・Jazz clubライブ出演、ワークショップを開催。<br>
        マリアシュナイダーオーケストラの{% link "Jay Anderson" %}, {% link "Frank Kinbrough" %}, 
        ジャズホルニストの{% link "Adam Unsworth" %}と共演。<br>
        世界的古筝奏者：{% link "姜小青" %}CDジャケット制作。
      </p>
      <p>
        自身が手掛ける書とアクセサリーデザイナー「{% link "RYONA" %}」のコラボブランド〜en〜縁は、<br>
        渋谷ヒカリエやアベノハルカス近鉄本店など、現在静岡伊勢丹にて常設されている。<br>
        四谷三丁目{% link "喫茶茶会記" %}書道サロン主宰、青山書道教室講師。
      </p>
      <p>
        電子書籍雑誌 {% link "Vasco da Gama" %} 連載中
      </p>
    {% endmlpart %}
    {% mlpart "en" %}
      <p>
        Having been interested in calligraphy during her childhood,
        Setsuhi became a calligraphy master at 22 years old.
        She is pursuing her own unique style of calligraphy while
        expressing the world of traditional calligraphy.
        The world she creates by subliming calligraphy into a composite art
        through collaboration with musical and fine arts is highly regarded.
        She has also been active outside of Japan,
        attracting many fans from around the world through her
        live collaborative performances with music.
      </p>
      <p>
        Setsuhi has given calligraphy performances at various places
        including the private salon Diners Club Ginza Lounge in Tokyo,
        the Mandarin Oriental Hotel Tokyo
        (at the 60th anniversary event of the launch of Fissler’s pressure cookers),
        and the British Museum in London.
        She also held a joint performance with the {% link "London Improvisers Orchestra" %},
        participated in an art fair in Paris,
        and held personal exhibitions in both Paris and New York.
        Also in New York, Setsuhi conducted a calligraphy workshop and
        performed in both a jazz club and an art gallery with {% link "Jay Anderson" %} and
        {% link "Frank Kinbrough" %} of the Maria Schneider Orchestra as
        well as jazz horn player {% link "Adam Unsworth" %}.
      </p>
      <p>
        In addition, Setsuhi calligraphed the title on a CD cover
        for {% link "Jiang Xiao-Qing" %}, a world-famous player of the
        traditional Chinese &ldquo;guzheng&rdquo; string instrument.
      </p>
      <p>
        Setsuhi collaborates with accessory designer {% link "RYONA" %} to create
        {% link "縁 (&ldquo;en&rdquo;)" %}, their unique brand of calligraphic accessories.
        The {% link "縁 (&ldquo;en&rdquo;)" %} brand is sold at limited-time
        stores at the Shibuya Hikarie in Tokyo and the
        Abeno Harukas Kintetsu Main Store in Osaka,
        and is now permanently sold at the Shizuoka Isetan
        Department Store in Shizuoka, Japan.
      </p>
      <p>
        Futhermore, Setsuhi has hosted the calligraphy salon at
        the art space and cafeteria {% link "Sakaiki" %} in Shinjuku, Tokyo and
        is a lecturer at the {% link "Aoyama Calligraphy School" %} in Shibuya, Tokyo.
        She also writes for the digital magazine, {% link "Vasco da Gama" %}.
      </p>
    {% endmlpart %}
  {% endmultilingual %}
</div> <!-- end #bio -->


<hr class="section-separator">


<div id="concept" lang="ja">
  <h2>{% ml en="Concept" ja="概念"%}</h2>
  {% ml en="(English translation coming soon)" ja=""%}
  <p>
    瞬間的に心をとらえるセンス、空間、線質を追及し続ける。
  </p>
  <p>
    書にも無限の表現があるが、文字の周囲を演出することでさらに無限に広がる。<br>
    大切にしているのはおもてなしとしつらえの心。<br>
    的確に確実に準備をし、自分の表現を加えて心地よく演出をする。<br>
    感謝の気持ちを忘れずに楽しいひとときを共有したい。
  </p>
  <p>
    そしてもうひとつ大事ににしていることは遊ぶこと。<br>
    「遊ぶ」とは、教養の中で自由にアレンジして楽しむこと。<br>
    教養があればあるほど幅が広がり楽しむことができる。<br>
    書道のほかに自分の好きなこと「カラー、ファッション、音色、絵、芸術鑑賞、料理」<br>
    など普段の生活の中で取り入れ勉強し、自分ならではの表現に繋げている。
  </p>
  <p>
    書道は日本の伝統文化であるが、時代とともに形を変えて確立しようとしている。<br>
    現代の生活にも馴染むこと<br>
    身近に墨書を置くことでハイセンスな空間を作ることができること<br>
    同じ言葉でも、書き方によって想いが伝わること<br>
    私のスタイルを実際に見て体験してほしいと願います。
  </p>
</div> <!-- end #concept -->


<hr class="section-separator">


<div id="activities">
  <h2>{% ml en="Activity" ja="活動" %}</h2>

  {% multilingual %}
    {% mlpart "ja" %}

      <h4>2008 年</h4>
      <ul>
        <li>書道家として始動 「kokoro」（八千代台・代官山ケーキショップ）の看板ロゴ・ 名刺ロゴ作成</li>
        <li>オーダー制作開始【命名書・インテリア書作品（カフェ・レストラン・ショップ・ ご自宅用など)
          表札・おしながき（(Menu Book）・ウエルカムボード・看板（ショップ・各種イベン ト）・名刺ロゴなど筆文字全般】</li>
        <li>東京・曙橋 コーヒー＆ギャラリー ゑいじう個展＆書道展ライブ開催</li>
        <li>Web 番組「Serendipity〜即興についての考察」出演、ジャズギターと書のコラボ レーション</li>
      </ul>

      <h4>2009 年</h4>
      <ul>
        <li>東京・銀座 クオリア銀座画廊 銀座プレミアムプレビュー展</li>
        <li>東京・池袋 池袋マイルスカフェ kind'o soul ライブ出演　書道パフォーマンス 音楽と書のコラボレーション</li>
        <li>千葉・船橋飯山満公民館 アウローラウインドオーケストラコンサート出演　 吹奏 楽と書のコラボレーション</li>
        <li>東京・曙橋コーヒー＆ギャラリー ゑいじう 白石雪妃二人展Vol.1（書道×書道）</li>
        <li>神奈川・横浜 ランドマークタワー Exhibition of Minerva 2009</li>
        <li>東京・四谷 喫茶茶会記 三重奏書 書道パフォーマンス　書・仕舞・コントラバス のコラボレーション</li>
        <li>東京・池袋 池袋マイルスカフェ kind'o soul ライブ出演　書道パフォーマンス 音楽とダンスと書のコラボレーション</li>
      </ul>

      <h4>2010 年</h4>
      <ul>
        <li>東京・L'Arc〜en〜Cielのドラマーに書道講師として指導。</li>
        <li>東京・四谷 喫茶茶会記 シャンソンライブ出演　 シャンソン：聖児　×壁画： ヴィヴィアン佐藤　×書</li>
        <li>東京・北区　北井ギャラリー　セブンスプロジェクト東京　アートユニオンジャパ ン発刊記念展</li>
        <li>L'Arc〜en〜Cielのファンクラブ会報誌LE-CIELの企画にてドラマーYukihiroさんに 書道講師として指導</li>
        <li>フランス・パリ　アートフェア、個展、ライブパフォーマンス開催</li>
        <li>東京・銀座　クオリア銀座画廊グループ展</li>
        <li>東京・池袋にてストリートライブパフォーマンス</li>
        <li>東京・渋谷　ギャラリーコンシールにてグループ展</li>
        <li>ベルギー・ケント　アートフェア参加</li>
        <li>東京・曙橋　珈琲＆ギャラリー　ゑいじう　白石雪妃二人展Vol.2（書×器）</li>
        <li>東京・新宿Boozy Muse 蕪木光生Trio　Ｊａｚｚと書のコラボレーションライブ</li>
        <li>東京・四谷 喫茶茶会記 「響書」　クラシックフルート北山朝美　×書、生徒作品 発表会</li>
        <li>東京・銀座　ワークショップ開催</li>
        <li>東京・自由が丘　和食「星火」　ロゴ・インテリア書</li>
      </ul>

      <h4>2011 年</h4>
      <ul>
        <li>東京・青山ベルコモンズ　陶芸工房彩泥窯のロゴ、インテリア書、ショーウインドウ</li>
        <li>東京・四谷　喫茶茶会記　「祀豪」　即興音楽：松本充明　×書</li>
        <li>東京・新宿　Ｂｏｏｚｙ　Ｍｕｓｅ 世界的ジャズホルニストAdam Unsworth　×書</li>
        <li>東京・六本木　ＩＮＤIGO　書×灯×音　Ｔａｎecoライブvol.1</li>
        <li>東京・銀座　Ｌｉｖｅ＆Ｍｏｒｉｓギャラリー　蕪木光生Ｊａｚｚ＆即興　×書</li>
        <li>東京・渋谷　ギャラリーコンシールにてグループ展</li>
        <li>東京・四谷　喫茶茶会記「ときとき」　即興音楽　ドラム：山岸直人×書</li>
        <li>福島・いわき　福島復興支援野外音楽祭　Tanecoで出演　書×灯×音</li>
        <li>東京・西麻布　Ｂｕｌｌｅｔｓ　異文化交流ナイト　ライブ出演　　Hola guuey ×書</li>
        <li>東京・四谷　喫茶茶会記　「弦書」　クラシックギター　松田弦　×書</li>
        <li>東京・新宿　Ｂｏｏｚｙ　Ｍｕｓｅ　蕪木光生Ｔrio　jazz×書</li>
        <li>東京・東北沢　「大吉家」　Tanecoライブvol.2　書×灯×音</li>
        <li>東京・新御徒町　ナカムラアーツギャラリー　二人展vol.3 書×花</li>
        <li>東京・渋谷　ギャラリーコンシール　ライブパフォーマンス</li>
        <li>埼玉・久喜　みのりガーデン　ライブパフォーマンス</li>
        <li>山梨・清水国明　森と湖の楽園　ライブパフォーマンス</li>
        <li>東京・四谷　喫茶茶会記　大蔵流狂言　書×狂言</li>
      </ul>

      <h4>2012 年</h4>
      <ul>
        <li>新潟・湯沢ルーデンスホテル　ライブパフォーマンス・ワークショップ</li>
        <li>アメリカ・ニューヨーク　Ouchi Gallery　グループ展</li>
        <li>東京・四谷　喫茶茶会記　アレキサンダー・パール　コントラバス×書</li>
        <li>東京・渋谷　ＪＺ　Ｂｒａt　Hiro-a-key ×　小林岳五郎×　書</li>
        <li>イギリス・ロンドン　ヘンリームーアギャラリー　グループ展</li>
        <li>フランス・レンヌ　瞬刻ライブ　書×Per :山岸直人</li>
        <li>フランス・レンヌ　ワークショップ　with Nusch Werchowska</li>
        <li>イギリス・ロンドン　London Improvisers Orchestra 書道パフォーマンス</li>
        <li>東京・代々木　Taneco 1周年記念ライブ</li>
        <li>埼玉・東京にて響書2回公演</li>
        <li>東京・楽道庵　「影」書×声明：桜井真樹子×コントラバス：Pearl alexander</li>
        <li>東京・和の家　櫻井　「直書観音」書×即興フルート　Miya　 ゲスト：Terry Day</li>
        <li>東京・外苑前　OFFICE 書×ピアノ弾きかたり×ジャンベ</li>
        <li>東京・四谷　「弦書」クラシックギター　松田弦　×　書</li>
        <li>東京・渋谷　ＷＯＭB　ＡＢＥＬ出演</li>
        <li>新潟・湯沢リバーサイドジャムキャンプ　ワークショップ</li>
        <li>東京　カトリック社会福祉法人ベタニアホーム　Ｄｒ谷本成輝　A.Ｓax國井類 Bass　間亮介　×書</li>
        <li>東京・銀座　ダイナースクラブ銀座ラウンジ　白石雪妃書画展</li>
        <li>東京・銀座　Diners Club 銀座ラウンジ　artist performance　チェロ：五十嵐あさか　ナビゲーター：坂田康太郎</li>
        <li>東京・中野　Tokyo Lan tern Festival ライブ出演・ワークショップ開催</li>
        <li>東京・銀座　新井画廊　二人展Vol.4　書×アクセサリー　RYONA</li>
        <li>東京・赤坂　バイオリン：小池はるみ×書　リサイタル</li>
      </ul>
      
      <h4>2013 年</h4>
      <ul>
        <li>東京・青山　アクサ生命保険株式会社様にてワークショップ開催</li>
        <li>東京・浅草　舵輪　迷ジャズトリオ（ピアノ中条和丈　サックス國井類　ドラム　デッコ高野）×　書　ライブ</li>
        <li>東京・四谷　日本の心・伝統の技　狂言方　大藏千太郎　笛方　寺井宏明　×書</li>
        <li>新潟・湯沢　村のおやじ・ルーデンスリゾートにてTanecoライブ、ワークショップ</li>
        <li>東京・渋谷　セルリアンタワー東急ホテル　ＪＺ　Ｂｒａｔ　ライブ　ゲスト出演 　×ジャズピアニスト：小林岳五郎</li>
        <li>東京・紀尾井町サロンホール　響書　Vol .3　フルート：北山朝美</li>
        <li>東京・曙橋　ギャラリー　ゑいじう　喫茶茶会記企画展</li>
        <li>東京・曙橋　ギャラリー　ゑいじう　コントラバス　パールアレキサンダー×　書　即興ライブ</li>
        <li>東京・原宿　ギャラリーおんでん　ワークショップ</li>
        <li>静岡・静岡伊勢丹　カプセルストア　オープニングイベント出演　en〜縁〜取り扱い第一号店</li>
        <li>岡山・AIMS GELLERY　en 〜縁〜　展示販売</li>
        <li>近鉄百貨店　オープニングイベント出演　en 〜縁〜展示販売</li>
        <li>千葉・浦安　路風舎　Fulute　Miya×Setsuhi　直書観音ライブ・ワークショップ</li>
        <li>鹿児島・鹿屋市　おおすみ・かごしま芸術祭出演（南九州新聞　取材掲載）</li>
        <li>東京・入谷　なってるハウス　フルート　YUKARI　ピアノ　照内央晴×書</li>
        <li>東京・マンダリンオリエンタル東京　フィスラープレミアムナイト（Fissler圧力鍋発売６０周年）　出演</li>
        <li>アメリカ・デンバー　コロラド日米協会ワークショップ、ライブパフォーマンス（Rockey Mountain PBS Arts </li>Districtテレビ出演
        <li>アメリカ・ニューヨーク　個展、somethin'jazz clubライブパフォーマンス、Jay Anderson,Frank Kimbrough,Amad Unsworthと共演、ワークショップ講師を務める</li>
        <li>電子書籍雑誌Vasco da Gama連載開始</li>
        <li>雑誌（マガジンハウス　YUCARI：ジャズジャーナリスト杉田宏樹）</li>
        <li>東京・銀座　No Bird　ジャズトランペット高澤綾×書　ライブ</li>
        <li>東京・武蔵境　和の家　櫻井　Fulute　Miya×Setsuhi　直書観音ライブ・ワークショップ</li>
        <li>東京・渋谷ヒカリエ　PULG IN　en~縁~ Exhibition</li>
        <li>東京・銀座　二人展Vol.5　書家　白石雪妃×写真家　大木啓至</li>
      </ul>

    {% endmlpart %}

    {% mlpart "en" %}

      <h4>2008</h4>
      <ul>
        <li> Began activities as a calligrapher  Created logotypes for the signboard and business card of the cake shops &ldquo;kokoro&rdquo; in Yachiyo, Chiba and Daikanyama, Tokyo</li>
        <li> Started creating custom-made artworks (general Japanese calligraphic artworks such as baby’s name boards, calligraphic artworks for interior decoration (for cafeterias, restaurants, shops, and house decoration), nameplates, menu books, wedding boards, signboards (for various shops and events), and logotypes for business cards)</li>
        <li> Held a private exhibition and gave a live performance at the cafeteria-gallery Eijiu in Akebonobashi, Shinjuku, Tokyo</li>
        <li> Appeared on an online video program &ldquo;Serendipity ? Study of Impromptu Art&rdquo;, and gave a collaborative performance combining jazz guitar and calligraphy</li>
      </ul>

      <h4>2009</h4>
      <ul>
        <li> Exhibited at the Ginza Premium Preview Exhibition at Qualia Ginza Gallery in Ginza, Tokyo</li>
        <li> Appeared on a live event by the jazz band &ldquo;kind'o soul&rdquo; and gave a collaborative performance combining music and calligraphy at Miles’ Cafe in Ikebukuro, Tokyo</li>
        <li> Appeared on a concert by Aurora Wind Orchestra and gave a collaborative performance combining wind-instrument music and calligraphy at the Hasama Community Center in Funabashi, Chiba</li>
        <li> Held a collaborative exhibition &ldquo;Futari-ten Vol 1&rdquo; with another calligrapher Yoshun Ohmori at the cafeteria-gallery Eijiu in Akebonobashi, Shinjuku, Tokyo</li>
        <li> Exhibited at the Exhibition of Minerva 2009 in the Landmark Tower, Yokohama, Kanagawa</li>
        <li> Gave a collaborative performance &ldquo;Sanjusosho&rdquo; of calligraphy, Shimai (Noh dance in plain clothes) and contrabass at the art space and cafeteria Sakaiki in Yotsuya-sanchome, Shinjuku, Tokyo</li>
        <li> Appeared on a live event by the jazz band &ldquo;kind'o soul&rdquo; and gave a collaborative performance combining music, dance and calligraphy at Miles’ Cafe in Ikebukuro, Tokyo</li>
      </ul>

      <h4>2010</h4>
      <ul>
        <li> Appeared on a chanson live event and gave a collaborative performance combining chanson (Seiji), wall painting (Vivian Sato) and calligraphy at the art space and cafeteria Sakaiki in Yotsuya-sanchome, Shinjuku, Tokyo</li>
        <li> Exhibited at the 7th Project Tokyo Exhibition (exhibition celebrating the publication of &ldquo;Art Union Japan Vol 7&rdquo;) at Kitai Gallery in Kita-ku, Tokyo</li>
        <li> Teached calligraphy to Yukihiro, drummer of the Japanese famous rock band &ldquo;L'Arc~en~Ciel&rdquo;, under the plan of the fan club bulletin &ldquo;LE-CIEL&rdquo; of this band</li>
        <li> Participated in an art fair, held a private exhibition, and gave live performances in Paris, France</li>
        <li> Participated in a multi-artist exhibition at Qualia Ginza Gallery in Ginza, Tokyo</li>
        <li> Gave a street live performance in Ikebukuro, Tokyo</li>
        <li> Participated in a multi-artist exhibition at Gallery Conceal Shibuya in Shibuya, Tokyo</li>
        <li> Participated in an art fair in Ghent, Belguim</li>
        <li> Held a collaborative exhibition &ldquo;Futari-ten Vol 2&rdquo; (combining calligraphy and pottery) at the cafeteria-gallery Eijiu in Akebonobashi, Shinjuku, Tokyo</li>
        <li> Gave a collaborative live performance combining jazz (Mitsuo Kabuki Trio) and calligraphy at Boozy Muse in Shinjuku, Tokyo</li>
        <li> Gave a collaborative live performance &ldquo;Kyosho&rdquo; combining classical flute (Asami Kitayama) and calligraphy, and held a first exhibition for my pupils at the art space and cafeteria Sakaiki in Yotsuya-sanchome, Shinjuku, Tokyo</li>
        <li> Held a workshop in Ginza, Tokyo</li>
        <li> Created a logotype and calligraphic artworks for interior decoration at the request of Seika, a small restaurant of creative Japanese cuisine, in Jiyugaoka, Meguro-ku, Tokyo</li>
      </ul>

      <h4>2011</h4>
      <ul>
        <li> Created a logotype, calligraphic artworks for interior decoration, and a show window display at the request of the pottery school Saideigama at Aoyama Bell Commons, Tokyo</li>
        <li> Gave a collaborative live performance &ldquo;Shigo&rdquo; combining musical improvisation (Mitsuaki Matsumoto) and calligraphy at the art space and cafeteria Sakaiki in Yotsuya-sanchome, Shinjuku, Tokyo</li>
        <li> Gave a collaborative live performance with world-renowned jazz hornist Adam Unsworth at Boozy Muse in Shinjuku, Tokyo</li>
        <li> Held a first live event of Taneco, a collaborative unit of calligrapher, candle artist and classical guitarist/vocalist, at the bar INDIGO in Roppongi, Tokyo</li>
        <li> Gave a collaborative live performance combining jazz/improvisation (Mitsuo Kabuki) and calligraphy at the gallery &ldquo;exhibit LIVE & MORIS&rdquo; in Ginza, Tokyo</li>
        <li> Participated in a multi-artist exhibition at Gallery Conceal Shibuya in Shibuya, Tokyo</li>
        <li> Gave a collaborative performance &ldquo;Tokitoki&rdquo; combining musical improvisation (Naoto Yamagishi, drumnist) and calligraphy at the art space and cafeteria Sakaiki in Yotsuya-sanchome, Shinjuku, Tokyo</li>
        <li> Participated in &ldquo;Earth Tuning&rdquo;, an outdoor music festival in effort to help Fukushima recovery, as a member of Taneco in Iwaki, Fukushima</li>
        <li> Appeared on a live event &ldquo;Intercultural Exchange Night&rdquo; and gave a collaborative performance combining music (Hola guuey, jazz unit) and calligraphy at Bullets in Nishi-azabu, Tokyo</li>
        <li> Gave a collaborative performance &ldquo;Gensho&rdquo; combining classical guitar (Gen Matsuda) and calligraphy at the art space and cafeteria Sakaiki in Yotsuya-sanchome, Shinjuku, Tokyo</li>
        <li> Gave a collaborative live performance combining jazz (Mitsuo Kabuki Trio) and calligraphy at Boozy Muse in Shinjuku, Tokyo</li>
        <li> Held a second live event of Taneco at the cafeteria Daikichiya in Higashi-kitazawa, Tokyo</li>
        <li> Held a collaborative exhibition &ldquo;Futari-ten Vol 3&rdquo; (combining calligraphy and flower arrangement) at the art gallery Nakamura Arts in Higashi-ueno, Taito-ku, Tokyo</li>
        <li> Gave a live performance as a member of Taneco at Gallery Conceal Shibuya in Shibuya, Tokyo</li>
        <li> Gave a live performance as a member of Taneco at Minori Garden in Kuki-city, Saitama</li>
        <li> Gave a live performance as a member of Taneco at the camping resort &ldquo;Kuniaki Shimizu’s Paradise of Forest and Lake&rdquo; in Yamanashi prefecture</li>
        <li> Gave a live performance as a member of Taneco at Ludens Resort in Yuzawa, Niigata prefecture</li>
        <li> Gave a collaborative live performance combining calligraphy and Japanese Noh farce called &ldquo;Kyogen&rdquo; (the Ohkura school of Kyogen) at Sakaiki in Shinjuku, Tokyo</li>
      </ul>

      <h4>2012</h4>
      <ul>
        <li> Gave a live performance and held a calligraphy workshop at the Ludens Resort in Yuzawa, Niigata</li>
        <li> Participated in a group exhibition at Ouchi Gallery in New York, USA</li>
        <li> Gave a collaborative live performance with contrabassist Pearl Alexander at Sakaiki in Shinjuku, Tokyo</li>
        <li> Gave a collaborative live performance combining calligraphy and jazz (played by vocalist Hiro-a-key and pianist Takegorou Kobayashi) at JZ Brat in Shibuya, Tokyo</li>
        <li> Participated in a group exhibition at the Henry Moore Gallery in London, UK</li>
        <li> Gave a collaborative live performance titled &ldquo;Shunkoku&rdquo; with percussionist Naoto Yamagishi in Rennes, France</li>
        <li> Held a collaborative calligraphy workshop with Nusch Werchowska in Rennes, France</li>
        <li> Gave a collaborative live performance combining calligraphy and improvised music (played by the London Improvisers Orchestra) in London, UK</li>
        <li> Created the display posters and hanging banners for the ceramic art exhibition at Aoyama Bell Commons, Tokyo</li>
        <li> Held the special live celebrating Taneco’s 1st anniversary in Yoyogi, Shinjuku, Tokyo</li>
        <li> Gave collaborative live performances titled &ldquo;Kyosho Vol 2&rdquo; with flutist Asami Kitayama at two places (Sakaiki in Shinjuku, Tokyo and the music cafeteria Blossom in Koshigaya, Saitama)</li>
        <li> Gave a collaborative live performance titled &ldquo;Shadow&rdquo; combining calligraphy, contrabass (played by Pearl Alexander), and Japanese court music called &ldquo;Shirabyoshi&rdquo; (played by Makiko Sakurai) at Rakudoan in Kanda, Tokyo</li>
        <li> Gave a collaborative live performance titled &ldquo;Instinct Moments&rdquo; with flutist Miya and guest bamboo flutist Terry Day at the Japanese old house gallery &ldquo;Sakurai&rdquo; in Nishitokyo, Tokyo</li>
        <li> Gave a collaborative live performance of calligraphy, piano & vocal, and djembe at the multi-purpose cafeteria OFFICE in Aoyama, Tokyo</li>
        <li> Gave a collaborative live performance titled &ldquo;Gensho Vol 2&rdquo; with classical guitarist Gen Matsuda at Sakaiki in Shinjuku, Tokyo</li>
        <li> Took part in the live event &ldquo;ABEL Vol 2&rdquo; at the live house WOMB in Shibuya, Tokyo</li>
        <li> Held a calligraphy workshop at the camping festival &ldquo;Yuzawa Riverside Jam Camp 2012&rdquo; in Yuzawa, Niigata</li>
        <li> Gave a collaborative live performance with saxophonist Rui Kunii, drummer Shigeki Tanimoto, and bassist Ryosuke Hazama at Bethania Home operated by the social welfare corporation Jiseikai in Nakano, Tokyo</li>
        <li> Held a one-person calligraphy exhibition and gave a collaborative live performance with cellist Asaka Igarashi (navigated by Kotaro Sakata) at Diners Club Ginza Lounge in Ginza, Tokyo</li>
        <li> Took part in the Tokyo Lantern Festival in Nakano, Tokyo, giving a live performance and holding a calligraphy workshop</li>
        <li> Held a collaborative exhibition titled &ldquo;Futari-ten Vol 4&rdquo; combining calligraphy and jewelry accessory (designed by RYONA) at Arai Gallery in Ginza, Tokyo</li>
        <li> Gave a Xmas live performance collaborated with violinist Harumi Koike at Casa Classica in Akasaka, Tokyo</li>
      </ul>

      <h4>2013</h4>
      <ul>
        <li> Held a workshop at the Aoyama office of AXA Life Insurance in Tokyo.</li>
        <li> Gave a collaborative live performance with MEI JAZZ TRIO (pianist Kazuhiro Thujo, saxophonist Kunii_Rui, and drummer Decco Takano) at the jazz & oldies live bar Darling in Asakusa, Tokyo.</li>
        <li> Appeared as a guest on a Noh farce event titled &ldquo;Japanese Mind & Traditional Art&rdquo; in Yotsuya, Shinjuku, Tokyo, giving a collaborative performance with Noh farce pro Sentaro Ohkura and Noh flute player Hiroaki Terai.</li>
        <li> Participated in a live event and held a workshop as a member of the collaborative unit Taneco at the Ludens Resort and the public-house Murano Oyaji in Yuzawa, Niigata Prefecture.</li>
        <li> Appeared on a live event as a guest at JZ Brat in Shibuya, Tokyo, giving a collaborative performance with jazz pianist Takegoro Kobayashi.</li>
        <li> Held a collaborative live event titled &ldquo;Kyosho Vol. 3&rdquo; with flutist Asami Kitayama at Kioicho Salon Hall in Chiyoda-ku, Tokyo.</li>
        <li> Held a planned exhibition at Sakaiki in Shinjuku, Tokyo.</li>
        <li> Gave an improvised live performance in collaboration with contrabassist Pearl Alexander at the cafeteria-gallery Eijiu in Akebonobashi, Shinjuku, Tokyo.</li>
        <li> Held a workshop at the gallery ONDEN in Harajuku, Tokyo.</li>
        <li> Opened the first store of the collaboration brand &ldquo;-- en --&rdquo; at the tenant space Capsule Store of the Shizuoka Isetan Department Store in Shizuoka Prefecture.</li>
        <li> Opened an exhibit and sales space for the brand &ldquo;-- en --&rdquo; at AIMSGELLERY in Okayama Prefecture.</li>
        <li> Opened an exhibit and sales space for the brand &ldquo;-- en --&rdquo; at the Abeno Harukas Kintetsu Main Store in Osaka, and participated in an anniversary event celebrating the opening of this department store.</li>
        <li> Held a collaborative live event titled &ldquo;Instinct Moments&rdquo; with flutist Miya and ran a workshop at the gallery Rofusya in Urayasu, Chiba Prefecture.</li>
        <li> Appeared on the Osumi-Kagoshima Arts Festival 2013 in Kanoya, Kagoshima Prefecture.</li>
        <li> Gave a collaborative live performance with flutist Yukari and improvisation pianist Hisaharu Teruuchi at the gallery & live space Knuttel House in Iriya, Tokyo.</li>
        <li> Appeared as a guest on the 60th anniversary event celebrating the launch of Fissler’s pressure cookers at the Mandarin Oriental Hotel Tokyo.</li>
        <li> Held a workshop hosted by the Japan America Society of Colorado at the World Trade Center, and held a live event and a workshop at Book Arts League in Denver. Her performance was featured in Rocky Mountain PBS's &ldquo;Arts District&rdquo; program.</li>
        <li> opened a personal exhibition and gave live performances both in Brooklyn with Jay Anderson, Frank Kinbrough, and Adam Unsworth, and at the NYC Somethin’ Jazz Club.</li>
        <li> Writes regularly for the digital magazine Vasco da Gama.</li>
        <li> An article about Setsuhi written by jazz journalist Hiroki Sugita was published in the YUCARI magazine.</li>
        <li> held a collaborative live show with jazz trumpeter Aya Takazawa at the No Bird jazz club in Ginza, Tokyo.</li>
        <li> held a collaborative live show titled &ldquo;Instinct Moments&rdquo; with flutist Miya and ran a workshop at the Japanese old house gallery &ldquo;Sakurai&rdquo; in Nishitokyo, Tokyo.</li>
        <li> held an exhibition of the 縁 (&ldquo;en&rdquo;) brand of accessories at the Shibuya Hikarie in Shibuya, Tokyo.</li>
        <li> held a collaborative exhibition titled &ldquo;Futari-ten Vol. 5&rdquo; combining calligraphy and photography (by Yoshiyuki Ohki).</li>
        <li> Will hold a workshop hosted by the Japan America Society of Colorado at the World Trade Center, and hold a live event and a workshop at Book Arts League in Denver</li>
        <li> Will hold a personal exhibition and give live performances in Brooklyn, and also appear on the live event at somethin’ jazz club in NY</li>
        <li> Will hold a collaborative liver event with jazz trumpeter Aya Takazawa at the jazz club No Bird in Ginza, Tokyo</li>
        <li> Will hold a collaborative live event titled &ldquo;Instinct Moments&rdquo; with flutist Miya and run a workshop at the Japanese old house gallery &ldquo;Sakurai&rdquo; in Nishitokyo, Tokyo</li>
        <li> Will hold a collaborative exhibition titled &ldquo;Futari-ten Vol 5&rdquo; combining calligraphy and photography (by Yoshiyuki Ohki)</li>
      </ul>

    {% endmlpart %}

  {% endmultilingual %}

</div> <!-- end #profile -->



{% endblock main_content %}
