{% extends "main/base.html" %}
{% load staticfiles multilingual email_obfuscator %}

{% block main_content %}
<div class="container full-width">
  <div>
    {% multilingual %}
      {% mlpart "ja" %}
        <p>
          <ul>
            <li>命名書・ウエルカムボード・書作品の各オーダー </li>
            <li>イベント・ライブパフォーマンス・ワークショップの出演依頼 </li>
            <li>enアクセサリー　iPhoneケース　ポストカードなどのご注文 </li>
            <li>体験レッスンのお申込み </li>
          </ul>
          こちらからお気軽にご連絡くださいませ。
        </p>
      {% endmlpart %}
      {% mlpart "en" %}
        <p>
          <ul>
            <li>Birth names | Welcome boards | Special order works </li>
            <li>Events | Live performances | Workshops </li>
            <li>en Accesories, iPhone cases, Postcards, etc. </li>
            <li>Applying for calligraphy lessons </li>
          </ul>
          Please feel free to contact me with the below form.
        </p>
      {% endmlpart %}
    {% endmultilingual %}
  </div><!--/explantion-->

  <div>
    <form>
      <div id="summernote-contact"></div>
    </form>
  </div><!--/contact form-->

  <hr>

  <div>
    <p>
      {% ml ja="こちらのアドレスからもお問い合わせいただけます。" en="For those who would prefer to use email, feel free to reach me at this address." %} <br>
      {{ "shiraishi.setsuhi@gmail.com"|obfuscate_mailto }} <br>
      {% ml ja="返信に少々お時間がかかることもございますのでご了承ください。" en="Please note that it can take some time for me to respond." %} <br>
      <br>
      {% ml ja="白石雪妃" en="Setsuhi Shiraishi" %}
    </p>
  </div><!--/email-->

</div><!--/.container-->
{% endblock main_content %}


{% block postscripts %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#summernote-contact').summernote({
      height: 250,
      focus: true
    });
  });
</script>
{% endblock %}
