{% extends "main/base.html" %}
{% load staticfiles multilingual email_obfuscator %}

{% block main_content %}
<div class="container full-width">
  <div>
    {% multilingual %}
      {% mlpart "ja" %}
        <p>
          命名書・ウエルカムボード・書作品の各オーダー <br>
          イベント・ライブパフォーマンス・ワークショップの出演依頼 <br>
          enアクセサリー　iPhoneケース　ポストカードなどのご注文 <br>
          体験レッスンのお申込み <br>
          <br>
          こちらからお気軽にご連絡くださいませ。<br>
        </p>
      {% endmlpart %}
      {% mlpart "en" %}
        <p>
          Birth names | Welcome boards | Special order works <br>
          Events | Live performances | Workshops <br> 
          en Accesories, iPhone cases, Postcards, etc. <br>
          Applying for calligraphy lessons <br>
          <br>
          Please feel free to contact me with the below form. <br>
        </p>
      {% endmlpart %}
    {% endmultilingual %}
  </div><!--/explantion-->

  <div>
    
  </div><!--/contact form-->

  <div>
    {% multilingual %}
      {% mlpart "ja" %}
        <p>
          こちらのアドレスからもお問い合わせいただけます。 <br>
          {{ "shiraishi.setsuhi@gmail.com"|obfuscate_mailto }} <br>
          返信に少々お時間がかかることもございますのでご了承ください。 <br>
          <br>
          白石雪妃
        </p>
      {% endmlpart %}
      {% mlpart "en" %}
        <p>
          For those who would prefer to use email, feel free to reach me at this address. <br>
          {{ "shiraishi.setsuhi@gmail.com"|obfuscate_mailto }} <br>
          Please note that it can take some time for me to respond. <br>
          <br>
          Setsuhi Shiraishi
        </p>
      {% endmlpart %}
    {% endmultilingual %}
  </div><!--/email-->

</div><!--/.container-->
{% endblock main_content %}
