{% extends "main/base.html" %}
{% load staticfiles multilingual email_obfuscator %}

{% block main_content %}
<div class="container full-width">
  <div>
    {% multilingual %}
      {% mlpart "ja" %}
        <p>
          <ul>
            <li>命名書・ウエルカムボード・書作品の各オーダー </li>
            <li>イベント・ライブパフォーマンス・ワークショップの出演依頼 </li>
            <li>enアクセサリー　iPhoneケース　ポストカードなどのご注文 </li>
            <li>体験レッスンのお申込み </li>
          </ul>
          こちらからお気軽にご連絡くださいませ。
        </p>
      {% endmlpart %}
      {% mlpart "en" %}
        <p>
          <ul>
            <li>Birth names | Welcome boards | Special order works </li>
            <li>Events | Live performances | Workshops </li>
            <li>en Accesories, iPhone cases, Postcards, etc. </li>
            <li>Applying for calligraphy lessons </li>
          </ul>
          Please feel free to contact me with the below form.
        </p>
      {% endmlpart %}
    {% endmultilingual %}
  </div><!--/explantion-->

  <div id="contact-form-wrapper">
    {% if did_send_message %}
      <p>
        Thank you for taking the time to contact me.  I will 
        be in touch with you as soon as possible.
      </p>
      <p>
        Setsuhi Shiraishi
      </p>
    {% else %}
      <form action="{% url 'contact' %}" method="POST">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class="row">
          <div class="col-sm-4 col-md-3 field-label-column">
            <label for="id_name">
              {% ml ja="お名前" en="Your name" %}
            </label>
          </div>
          <div class="col-sm-8 col-md-9">
            {{ form.name }}
          </div>
        </div><!--/Name row-->

        <div class="row">
          <div class="col-sm-4 col-md-3 field-label-column">
            <label for="id_email_address">
              {% ml ja="メールアドレス" en="Your e-mail address" %}
            </label>
          </div>
          <div class="col-sm-8 col-md-9">
            {{ form.email_address }}
          </div>
        </div><!--/Email row-->

        <div class="row">
          <div class="col-sm-4 col-md-3 field-label-column">
            <label id="id_telephone_number">
              {% ml ja="お電話番号" en="Your telephone number" %}
            </label>
          </div>
          <div class="col-sm-8 col-md-9">
            {{ form.telephone_number }}
            <span class="text-muted">
              {% ml ja="（任意）" en="(optional)" %}
            </span>
          </div>
        </div><!--/Telephone row-->

        <div class="row">
          <div class="col-sm-4 col-md-3 field-label-column">
            <label for="id_message">
              {% ml ja="お問い合わせ内容" en="Your inquiry" %}
            </label>
          </div>
          <div class="col-sm-8 col-md-9">
            <textarea name="message" id="id_message"
                      placeholder="お問い合わせ内容"></textarea>
          </div>
        </div><!--/Message row-->

        <div class="row">
          <div class="col-sm-4 col-md-3"></div>
          <div class="col-sm-8 col-md-9">
            <button type="submit" class="btn btn-default">
              {% ml en="Send" ja="送信" %}
            </button>
          </div>
        </div><!--/Submit row-->

      </form>
    {% endif %} {# end: if did send message #}
  </div><!--/contact form-->

  <hr>

  <div>
    <p>
      {% ml ja="こちらのアドレスからもお問い合わせいただけます。" en="For those who would prefer to use email, feel free to reach me at this address." %} <br>
      {{ "shiraishi.setsuhi@gmail.com"|obfuscate_mailto }} <br>
      {% ml ja="返信に少々お時間がかかることもございますのでご了承ください。" en="Please note that it can take some time for me to respond." %} <br>
      <br>
      {% ml ja="白石雪妃" en="Setsuhi Shiraishi" %}
    </p>
  </div><!--/email-->

</div><!--/.container-->
{% endblock main_content %}


{% block postscripts %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#summernote-contact').summernote({
      height: 250,
      focus: true
    });
  });
</script>
{% endblock %}
