{% extends "main/base.html" %}
{% load staticfiles multilingual %}

{% block main_content %}
<div lang="ja">

<h3>茶会記書道サロン</h3>

<p>書道サロンコンセプト<br>
時がゆったりと流れる空間の中で、伝統に触れ、墨で遊びませんか。</p>
<p>毎月第一、第四木曜日　(於)茶会記Sroom (時間)午後3時〜午後10時迄</p>
<p>料金等　コース事例　（1レッスン1時間）</p>
【月２回の場合】<br>
入会金5,000円　お月謝10,000円　※６か月一括納入割引　５４０００円<br>
【月１回の場合】<br>
入会金5,000円　お月謝7,000円　※６カ月一括納入割引　３６０００円<br>
いずれも基本材料費込（作品制作を除く）。<br>
茶会記よりお茶、デザートもつきます。<br>

※６か月一括納入の場合、振り替えは可能ですがご返金は致しかねます。<br>
レッスン日の変更は１週間前まで、以降はキャンセル料１０００円をいただきま
す。<br>
まずは、ご希望やご不明な点など、お気軽にお問い合わせください。<br>
setsuhi@modalbeats.com　白石雪妃<br>

<hr class="section-separator">

●青山書道教室<br>
<br>
基礎から創作までご希望の目標に沿って必要なことをレッスンしていく教室です。
定員４名の個人別対応です。<br>
<br>
■場所<br>
東京都港区北青山2-14-6 青山ベルコモンズ４F（地下鉄銀座線外苑前駅より徒歩
3分）<br>
陶芸工房 彩泥窯内<br>
<br>
■開校日時<br>
第１．３の月曜と木曜（月2回）<br>
・月曜・・・１７：３０〜１８：３０、１９：００〜２０：００<br>
・木曜・・・１１：３０〜１２：３０、１３：００〜１４：００、１４：３０〜１
５：３０、１６：００〜１７：００<br>
・月謝：9000円　（体験は1000円：事前予約必要）<br>
<br>
詳しくはお気軽にお問い合わせくださいませ。<br>
setsuhi@modalbeats.com<br>
090-1201-7938<br>
<br>
<br>
●陶芸工房　彩泥窯の書道サポート<br>
<br>
ブライダルギフト、ご両親へのプレゼント、記念日の贈り物など<br>
ご自分で作った陶器にメッセージを書く「陶書」のお手伝いをしています。<br>
<br>
http://saideigama.com/taiken_tepure_syodo_saport.html<br>

</div> <!-- end [lang='ja'] -->
{% endblock main_content %}
