{% extends "main/base.html" %}
{% load staticfiles multilingual link %}

{% block main_content %}
<div class="container full-width">


  <div id="new-lessons" lang="ja">
    <h2 lang="ja"><span>New</span> 単発コースのご案内</h2>
    
    <ol class="alphabet-list">
      <li>名前を美しく書く（筆ペンまたはペン）</li>
      <li>住所を体裁よく書く（筆ペンまたはペン）</li>
      <li>好きな漢字一文字創作　（書道）</li>
    </ol>

    <p>
      1回レッスン　5000円（1時間）<br>
      Ａ&amp;Ｂコースは筆ペンとペンで名前と住所の両方のお手本をお持ち帰りいただけます。
    </p>

    <ul class="rounded-square-list">
      <li>
        四谷3丁目<a href="#sakaiki-lessons">喫茶茶会記書道サロン</a> <br>
        毎月第一、第四木曜日　(於)茶会記Sroom <br>
        (時間)午後3時半～、午後5時～、午後6時半～、午後8時～ <br>
        ＋お茶デザートつき
      </li>
      <li>
        <a href="#omotesando-lessons">表参道教室</a>でも同じく開講中（お茶デザートはつきません）<br>
        第１・３の月・火曜 <br>
        ・月曜・・・【17:00 － 18:00】、【18:05 － 19:05】、【19:10 － 20:10】<br>
        ・火曜・・・【11:00 － 12:00】
      </li>
    </ul>

    <p>
      お申し込みはこちら
    </p>

  </div> <!-- / #new-lessons -->

  
  <hr class="section-separator">


  <div id="sakaiki-lessons" lang="ja">
    <h2 lang="ja">茶会記書道サロン</h2>

    <h4 lang="ja">書道サロンコンセプト</h4>
    <p>
      時がゆったりと流れる空間の中で、伝統に触れ、墨で遊ぶ。<br>
      目的に応じたプライベートレッスンです。
    </p>
    <div class="row">
      <div class="col-sm-1">
        <h4 lang="ja">場所</h4>
      </div>
      <div class="col-sm-11">
        <p>
          {% link "喫茶茶会記" %} <br>
          〒160-0015 東京都新宿区大京町 2-4 1F <br>
          （丸ノ内線四谷三丁目駅より徒歩三分）
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1">
        <h4 lang="ja">日時</h4>
      </div>
      <div class="col-sm-11">
        <p>
          毎月第一、第四木曜日　（於）茶会記Sroom <br>
          （時間）午後3時半～、午後5時～、午後6時半～、午後8時～
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1">
        <h4 lang="ja">料金</h4>
      </div>
      <div class="col-sm-11">
        <p>
          コース事例　（1レッスン1時間）<br>
          【月２回の場合】<br>
          入会金5,000円　お月謝10,000円　※６か月一括納入割引　54,000円 <br>
          【月１回の場合】<br>
          入会金5,000円　お月謝7,000円　※６カ月一括納入割引　36,000円 <br>
          全コース基本材料費込、手ぶらでお越しいただけます。<br>
          茶会記よりお茶、デザートがつきます。<br>
          ※６か月一括納入の場合、振り替えは可能ですがご返金は致しかねます。
        </p>
      </div>
    </div>

    <p>
      レッスン日の変更は１週間前まで、以降はキャンセル料1000円をいただきます。<br>
      まずは、ご希望やご不明な点など、お気軽にお問い合わせください。
    </p>
    <p>
      白石雪妃
    </p>

  </div>


  <hr class="section-separator">


  <div id="omotesando-lessons" lang="ja">
    <h2 lang="ja">表参道書道教室</h2>

    <p>
      基礎から創作までご希望の目標に沿って必要なことをレッスンしていく教室です。<br>
      定員４名の個人別対応です。
    </p>
    <p>
      陶芸工房{% link "彩泥窯の表参道工房" %}内 <br>
      東京都渋谷区神宮前 4-6-2 <br>
      （東京メトロ銀座線、半蔵門線、千代田線表参道駅A2出口より徒歩3分）
    </p>
    <p>
      第１・３の月・火曜 <br>
      ・月曜・・・【17:00 － 18:00】、【18:05 － 19:05】、【19:10 － 20:10】<br>
      ・火曜・・・【11:00 － 12:00】<br>
      ・お月謝：9000円（月2回）　4500円（月1回）　体験は1000円：事前予約必要 
    </p>
    <p>
      全コース基本材料費込、手ぶらでお越しいただけます。<br>
      詳しくはお気軽にお問い合わせくださいませ。
    </p>
    <p>
      白石雪妃
    </p>

    <hr>

    <h4 lang="ja">陶芸工房{% link "彩泥窯" %}の{% link "書道サポート" %}</h4>
    <p>
      ブライダルギフト、ご両親へのプレゼント、記念日の贈り物など<br>
      ご自分で作った陶器にメッセージを書く「陶書」のお手伝いをしています。
    </p>

  </div> <!-- end #omotesando-lessons -->


  <hr class="section-separator">


</div> <!-- end .container -->
{% endblock main_content %}
