{% extends "main/base.html" %}
{% load staticfiles multilingual link %}


{%block super_class%} has-background-image {%endblock%}


{% block main_content %}
<div class="container full-width no-padding">

  <h1 class="pad-x-15">{%ml en='Lessons' ja='教室'%}</h1>

  <div class="tyle-header">
    <h3 lang="ja">new <span class="ib">単発コースの<span class="ib">ご案内</span></span></h3>
  </div>

  <div id="new-lessons" class="tyle" lang="ja">
    
    <ol class="alphabet-list">
      <li>名前を美しく書く<span class="ib">（筆ペンまたはペン）</span></li>
      <li>住所を体裁よく書く<span class="ib">（筆ペンまたはペン）</span></li>
      <li>好きな漢字一文字創作<span class="ib">（書道）</span></li>
    </ol>

    <p>
      1回レッスン　5000円（1時間）<br>
      Ａ&amp;Ｂコースは筆ペンとペンで<span class="ib">名前と住所の両方のお手本を</span><span class="ib">お持ち帰りいただけます。</span>
    </p>

    <ul class="shallow rounded-square-list">
      <li>
        四谷三丁目
        <span class="ib"><a class="smooth-page-scroll" href="#sakaiki-lessons">茶会記書道サロン</a></span><br>
        毎月第一、四の木曜日<br>
        時間：午後3時半～<br>
        　　　午後5時～<br>
        　　　午後6時半～<br>
        　　　午後8時～ <br>
        ＋お茶デザートつき
      </li>
      <li>
        <a class="smooth-page-scroll" href="#omotesando-lessons">表参道教室</a>でも<span class="ib">同じく開講中</span><br>
        （お茶デザートはつきません）<br>
        第一、三の月、火曜日 <br>
        ・月曜：【17:00 － 18:00】<br>
        　　　　【18:05 － 19:05】<br>
        　　　　【19:10 － 20:10】<br>
        ・火曜：【11:00 － 12:00】
      </li>
    </ul>

    <p>
      お申し込みは<a href="{%url 'contact'%}" class="bold">こちら</a>へ<span class="ib">お気軽にお問い合わせください。</span>
    </p>

  </div> <!-- / #new-lessons -->

  

  <div id="sakaiki-lessons" class="tyle-header scroll-marker">
    <h3 lang="ja">喫茶茶会記<span class="ib">書道サロン</span></h3>
  </div>

  <div class="tyle" lang="ja">

    <h4 lang="ja">書道サロンコンセプト</h4>
    <p>
      時がゆったりと流れる空間の中で、<span class="ib">伝統に触れ、墨で遊ぶ。</span><br>
      目的に応じた<span class="ib">プライベートレッスンです。</span>
    </p>
    <div class="row">
      <div class="col-sm-2 col-lg-1">
        <div class="lesson-subsection-label">
          場所
        </div>
      </div>
      <div class="col-sm-10 col-lg-11">
        <p>
          {% link "喫茶茶会記" %} <br>
          〒160-0015
          <span class="ib">東京都新宿区大京町 2-4 1F</span>
          <span class="ib">茶会記Sroom</span>
          <br>
          (丸ノ内線<span class="ib">四谷三丁目駅より徒歩三分</span>)
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 col-lg-1">
        <div class="lesson-subsection-label">
          日時
        </div>
      </div>
      <div class="col-sm-10 col-lg-11">
        <p>
          毎月第一、四の木曜日<br>
          時間：午後3時半～<br>
          　　　午後5時～<br>
          　　　午後6時半～<br>
          　　　午後8時～ <br>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 col-lg-1">
        <div class="lesson-subsection-label">
          料金
        </div>
      </div>
      <div class="col-sm-10 col-lg-11">
        <p>
          コース事例（1レッスン1時間）<br>
          <ul class="shallow">
            <li>
              【月２回の場合】<br>
              　入会金5,000円<span class="ib">　お月謝10,000円</span><span class="ib">　※６か月一括納入割引<span class="ib">　54,000円</span></span>
            </li>
            <li>
              【月１回の場合】<br>
              　入会金5,000円<span class="ib">　お月謝7,000円</span><span class="ib">　※６か月一括納入割引<span class="ib">　36,000円</span></span>
            </li>
          </ul>
          全コース基本材料費込、<span class="ib">手ぶらでお越しいただけます。</span><br>
          茶会記よりお茶、<span class="ib">デザートがつきます。</span><br>
          ※６か月一括納入の場合、<span class="ib">振り替えは可能ですが<span class="ib">ご返金は致しかねます。</span></span>
        </p>
      </div>
    </div>

    <p>
      レッスン日の変更は１週間前まで、<span class="ib">以降はキャンセル料<span class="ib">1000円をいただきます。</span></span><br>
      まずは、ご希望やご不明な点など、<span class="ib"><a href="{%url 'contact'%}" class="bold">こちら</a>へお気軽に<span class="ib">お問い合わせください。</span></span>
    </p>
    <p>
      白石雪妃
    </p>

  </div>


  <div id="omotesando-lessons" class="tyle-header scroll-marker">
    <h3 lang="ja">表参道書道教室</h3>
  </div>

  <div class="tyle" lang="ja">

    <p>
      基礎から創作までご希望の目標に<span class="ib">沿って必要なことをレッスン<span class="ib">していく教室です。</span></span><br>
      定員４名の個人別対応です。
    </p>

    <div class="row">
      <div class="col-sm-2 col-lg-1">
        <div class="lesson-subsection-label">
          場所
        </div>
      </div>
      <div class="col-sm-10 col-lg-11">
        <p>
          陶芸工房{% link "彩泥窯の表参道工房" %}内 <br>
          東京都渋谷区神宮前 4-6-2 <br>
          (東京メトロ銀座線、半蔵門線、<span class="ib">千代田線表参道駅A2出口より徒歩3分)</span>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 col-lg-1">
        <div class="lesson-subsection-label">
          日時
        </div>
      </div>
      <div class="col-sm-10 col-lg-11">
        <p>
          第１・３の月・火曜 <br>
          ・月曜：【17:00 － 18:00】<br>
          　　　　【18:05 － 19:05】<br>
          　　　　【19:10 － 20:10】<br>
          ・火曜：【11:00 － 12:00】
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 col-lg-1">
        <div class="lesson-subsection-label">
          料金
        </div>
      </div>
      <div class="col-sm-10 col-lg-11">
        <p>
          お月謝：9000円（月2回）<br>
          　　　　4500円（月1回）<br>
          体験は1000円：事前予約必要 
        </p>
      </div>
    </div>

    <p>
      全コース基本材料費込、<span class="ib">手ぶらでお越しいただけます。</span><br>
      詳しくは<a href="{%url 'contact'%}" class="bold">こちら</a>へお気軽に<span class="ib">お問い合わせくださいませ。</span>
    </p>
    <p>
      白石雪妃
    </p>

    <hr>

    <h5 lang="ja">陶芸工房{% link "彩泥窯" %}の{% link "書道サポート" %}</h5>
    <p>
      ブライダルギフト、<span class="ib">ご両親へのプレゼント、<span class="ib">記念日の贈り物など</span></span><br>
      ご自分で作った陶器にメッセージを書く<span class="ib">「陶書」のお手伝いをしています。</span>
    </p>

  </div> <!-- end #omotesando-lessons -->



</div> <!-- end .container -->
{% endblock main_content %}
