{% extends "main/base.html" %}
{% load staticfiles multilingual %}

{% block main_content %}


<div class="phota-grid">
  {% for name in phota_names %}
    <a href="{% url 'photum' forloop.counter0 %}">
      <img class="photum-cover"
           src="{% static 'main/images/profile1.jpg' %}"
           id="photum-cover-{{forloop.counter}}" />
    </a>
    <div class="photum-caption">
      <h4>{{ name }}</h4>
    </div>
  {% endfor %}
</div>


<div id="photum-brief-area">
  {% for name in phota_names %}
    <div class="photum-brief" id="photum-brief-{{forloop.counter}}">
      <h4>{{ name }}</h4>
      <p>
        オーダー制作開始【命名書・インテリア書作品
        （カフェ・レストラン・ショップ・ ご自宅用など)
        表札・おしながき（(Menu Book) ・ウエルカムボード・看板
        （ショップ・各種イベン ト）・名刺ロゴなど筆文字全般】
      </p>
    </div>
  {% endfor %}
</div>

{% endblock main_content %}


{% block postscripts %}
<script type="text/javascript"
        src="{% static 'main/scripts/photum-grid.js' %}"></script>
{% endblock %}


