{% extends "main/base.html" %}
{% load staticfiles multilingual %}

{% block main_content %}


<div class="phota-grid">
  {% for name in phota_names %}
    <a href="#">
      <img class="photum-cover"
           src="{% static 'main/images/profile1.jpg' %}"
           id="photum-cover-{{forloop.counter}}" />
    </a>
    <div class="photum-caption">
      <h5>{{ name }}</h5>
    </div>
  {% endfor %}
</div>


<div id="photum-brief-area">
  {% for name in phota_names %}
    <div class="photum-brief" id="photum-brief-{{forloop.counter}}">
      <h5>{{ name }}</h5>
    </div>
  {% endfor %}
</div>

{% endblock main_content %}


{% block postscripts %}
<script type="text/javascript"
        src="{% static 'main/scripts/photum-grid.js' %}"></script>
{% endblock %}


