{% extends "main/base.html" %}
{% load staticfiles s3 link multilingual %}


{% block main_content %}
<div class="container full-width">

  <div class="tyle-section">
    <div class="tyle">
      <div class="text-center">

        <!-- シカクの中へ -->
        <div class="mgY1em">
          <video controls class="full-width">
            <source src="{% s3_url 'videos/ShikakuNoNakaHe.m4v' %}"
                    type="video/mp4" />
            <source src="{% s3_url 'videos/ShikakuNoNakaHe.mov' %}"
                    type="video/quicktime" />
          </video>
          <div class="video-credit">
            filmed and edited by {%link 'yoshiyuki ōki'%}
          </div>
        </div> <!-- /シカクの中へ -->

        <div class="mgY3em">&nbsp;</div>

        <!-- Setsuhi on Arts District, Rocky Mountain PBS -->
        <iframe width="560" height="315"
                class="fixed-responsive-video "
                src="//www.youtube.com/embed/6zr-YWiwHtc"
                frameborder="0" allowfullscreen></iframe>

        <div class="mgY3em">&nbsp;</div>

        <!-- Sestuhi with Asaka at the Diners Club event -->
        <iframe width="560" height="315" 
                class="fixed-responsive-video "
                src="//www.youtube.com/embed/VyWd2H-AGg8" 
                frameborder="0" allowfullscreen></iframe>

      </div> <!-- /.text-center -->
    </div> <!-- /.tyle -->
  </div> <!-- /.tyle-section -->

</div> <!-- /container -->
{% endblock main_content %}
