{% extends "page-base.html" %}
{% load staticfiles s3 link multilingual %}


{% block main_content %}
<div class="container full-width">

  <div class="tyle-section">
    <div class="tyle">
      <div>

        <!-- シカクの中へ -->
        <div class="mgY1em">
          <h3 lang="ja">シカクの中へ</h3>
          <video controls class="full-width" preload="auto">
            <source src="{% s3_url 'videos/ShikakuNoNakaHe.m4v' %}"
                    type="video/mp4" />
            <source src="{% s3_url 'videos/ShikakuNoNakaHe.mov' %}"
                    type="video/quicktime" />
          </video>
          <div class="video-credit">
            {%multilingual%}
              {%mlpart 'en'%}filmed and edited by {%link 'yoshiyuki ōki'%}{%endmlpart%}
              {%mlpart 'ja'%}映像：{%link '大木啓至'%}{%endmlpart%}
            {%endmultilingual%}
          </div>
          <div class="video-brief" lang="ja">
            2013年、二人展 書道×写真のテーマ「シカクの中へ」展示の続編を映像作品として、<br>
            自身の集大成ライブ「setsuhi with Adam Unsworth」@JZ Bratにて発表
          </div>
        </div> <!-- /シカクの中へ -->

        <div class="mgY3em"><hr></div>

        <!-- Setsuhi on Arts District, Rocky Mountain PBS -->
        <div>
          <h3>Arts District, Rocky Mountain PBS</h3>
          <iframe width="560" height="315"
                  class="fixed-responsive-video "
                  src="//www.youtube.com/embed/6zr-YWiwHtc"
                  frameborder="0" allowfullscreen></iframe>
          <div class="video-brief" lang="ja">
            2013年アメリカツアー中、デンバーBook Arts LeagueでのライブパフォーマンスにてTV取材を受けました。<br>
            放映された4分間の部分です。
          </div>
        </div><!-- /Arts District -->

        <div class="mgY3em"><hr></div>

        <!-- Sestuhi with Asaka at the Diners Club event -->
        <div>
          <h3 lang="ja">ダイナースクラブ 銀座ラウンジ</h3>
          <iframe width="560" height="315" 
                  class="fixed-responsive-video "
                  src="//www.youtube.com/embed/VyWd2H-AGg8" 
                  frameborder="0" allowfullscreen></iframe>
          <div class="video-brief" lang="ja">
            「書道とクラシック音楽のコラボレーション」出演<br>
            2012年アーティストサポートプログラムより
          </div>
        </div> <!-- /Diners Club -->

      </div> <!-- /.text-center -->
    </div> <!-- /.tyle -->
  </div> <!-- /.tyle-section -->

</div> <!-- /container -->
{% endblock main_content %}
