{% extends "main/base.html" %}
{% load staticfiles multilingual sakuhin_galleria %}


{% block main_content %}

<div class="container full-width">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

      {% for group_name in sakuhin_groups %}
      <div id="sakuhin-section-{{forloop.counter}}">
        <h3>{{group_name}}</h3>
        <div class="galleria-wrapper shadowed">
          {% sakuhin_galleria group_name class="exclusive-galleria" %}
        </div>
      </div>
      {% endfor %}

    </div> <!-- /.column -->
  </div> <!-- /.row -->
</div> <!-- /.container -->

{% endblock main_content %}
