{% extends "main/base.html" %}
{% load staticfiles multilingual sakuhin_galleria %}


{% block main_content %}

<div class="container full-width">
{% with column_class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" %}
  <div class="row">
    <div class="{{column_class}}">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="text-center">
      <div id="sakuhin-section-buttons">
      {% for name, title in sakuhin_groups %}
      <div class="ib">
        <button id="section-button-{{forloop.counter}}"
                class="section-button white-button"
                data-sakuhin-group="{{name}}">
          {%ml title %}
        </button>
      </div>
      {% endfor %}
      </div>
    </div>
  </div> <!-- /.row -->

  <div class="row">
    <div class="{{column_class}}">

      <hr>

      <div class="galleria shadowed"></div>

    </div> <!-- /.column -->
  </div> <!-- /.row -->

  {% if user.is_authenticated %}
  <div id="sakuhin-edit-div">
    <form id="sakuhin-info-form" class="off"
          action="{%url 'edit-sakuhin-info'%}"
          method="POST">
      {% csrf_token %}
      <input name="dbpk" type="hidden" />
      <input name="title" type="text" /> <br>
      <input name="brief" type="text" /> <br>
      <textarea name="lengthy"></textarea> <br>
      <button type="submit">Save</button>
    </form>
    <div id="sakuhin-edit-result"></div>
  </div>
  {% endif %}

{% endwith %}
</div> <!-- /.container -->


<script>
  var galleriaDataSets = {
    {% for group_name, t in sakuhin_groups %}
      "{{group_name}}": {% sakuhin_galleria_data group=group_name %},
    {% endfor %}
    "": ""
  };
  
  {% with first_group=sakuhin_groups|first|first %}
    var activeSakuhinGroup = "{{first_group}}";
  {% endwith %}

    var frm = $('#sakuhin-info-form');
    frm.submit(function () {
        d = frm.serialize();
        console.log("data to POST:"+d);
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: d,
            success: function (data) {
                $("#sakuhin-edit-result").html(data);
            },
            error: function(data) {
                $("#sakuhin-edit-result").html(data);
            }
        });
        return false;
    });
</script>


{% endblock main_content %}
