{% extends "main/base.html" %}
{% load staticfiles multilingual sakuhin_galleria %}


{% block main_content %}

<div class="container full-width">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

      {% for name, title in sakuhin_groups %}
      <div class="ib">
        <button id="section-button-{{forloop.counter}}"
                class="section-button"
                data-sakuhin-group="{{name}}">
          {%ml title %}
        </button>
      </div>
      {% endfor %}

      <div class="galleria"></div>

    </div> <!-- /.column -->
  </div> <!-- /.row -->
</div> <!-- /.container -->


<script>
  var galleriaDataSets = {
    {% for group_name, t in sakuhin_groups %}
      "{{group_name}}": {% sakuhin_galleria_data group=group_name %},
    {% endfor %}
    "": ""
  };
  
  {% with first_group=sakuhin_groups|first|first %}
    var activeSakuhinGroup = "{{first_group}}";
  {% endwith %}
</script>


{% endblock main_content %}
