<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}書道家白石雪妃{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% load staticfiles %}

    <link rel="icon" type="image/png" href="{% static 'home/images/logo-16.png' %}" />

    {% block thirdparty_styles %}
      <link rel="stylesheet" type="text/css"
            href="{% static 'third/styles/normalize.css' %}" />
      <link rel="stylesheet" type="text/css"
            href="{% static 'third/styles/bootstrap.min.css' %}" />
    {% endblock thirdparty_styles %}

    {% block default_styles %}
      <link rel="stylesheet/less" type="text/css"
            href="{% static 'main/styles/styles.less' %}" />
    {% endblock default_styles %}


    {% block styles %}{% endblock %}

    
    {% block default_prescripts %}
    <script>
      less = {
        env: "development",
        async: false,
        fileAsync: false,
        poll: 1000,
        functions: {},
        dumpLineNumbers: "comments",
        relativeUrls: false,
        rootpath: ":/0.0.0.0:5000/"
      };
    </script>
    <script src="{% static 'third/scripts/less-1.6.1.min.js' %}" type="text/javascript"></script>
    {% endblock default_prescripts %}

    {% block prescripts %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <!--[if lt IE 8]>
        <p class="browsehappy">
          You are using an <strong>outdated</strong> browser. 
          Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </p>
        <![endif]-->

    <div id="super-content">
      {% block super_content %}

        <div id="left-dock">
          <div id="signature-div">
            <img src="{% static 'main/images/signature-transparent-small.png' %}" />
          </div>

          <div class="vertical-text">
            書道家白石雪妃
          </div>

          <div id="seal-div">
            <img src="{% static 'main/images/seal/1-transparent-small.png' %}" />
          </div>

          {% block multilingual %}
            <div id="ml-titles">
            </div>
          {% endblock multilingual %}
        </div>

        <div id="main-navigation" class="">
          <div class="navigation-button" id="nb1">バイオ</div>
          <div class="navigation-button" id="nb2">作品</div>
          <div class="navigation-button" id="nb3">商品</div>
          <div class="navigation-button" id="nb4">連絡</div>
          <div class="navigation-button" id="nb5">ブログ&raquo;</div>
        </div>


        <div id="top-content">
          {% block top_content %}{% endblock %}
        </div>

        <div id="main-content">
          {% block main_content %}{% endblock %}
        </div>

      {% endblock super_content %}
    </div>

    {% block thirdparty_postscripts %}
      <script type="text/javascript"
              src="{% static 'third/scripts/jquery-1.10.2.min.js' %}">
      </script>
    {% endblock thirdparty_postscripts %}

    {% block default_postscripts %}
      <script type="text/javascript"
              src="{% static 'main/scripts/blob-button.js' %}"></script>
      <script type="text/javascript"
              src="{% static 'main/scripts/main.js' %}"></script>
    {% endblock default_postscripts %}

    
    {% block postscripts %}{% endblock %}

  </body>
</html>

