<!DOCTYPE html>
<html lang="en" class="no-js {% block html_class %}{% endblock %}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}書道家白石雪妃{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% load staticfiles multilingual link %}

    <!-- ================== ICONS ================== -->
    <link rel="apple-touch-icon-precomposed" href="{% static 'main/icons/setsuhi-inverted-152.png' %}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{% static 'main/icons/setsuhi-inverted-144.png' %}">
    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'main/icons/setsuhi-inverted-152.png' %}">
    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'main/icons/setsuhi-inverted-144.png' %}">
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'main/icons/setsuhi-inverted-120.png' %}">
    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'main/icons/setsuhi-inverted-114.png' %}">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'main/icons/setsuhi-inverted-72.png' %}">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="{% static 'main/icons/setsuhi-inverted-57.png' %}">
    <!-- And for the rest of us -->
    <link rel="icon" sizes="32x32" href="{% static 'main/icons/setsuhi-inverted-32.png' %}">


    <!-- FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,700,600|Open+Sans+Condensed:300,700,300italic" rel="stylesheet" type="text/css">
    <style type="text/css">
      @font-face {
        font-family: 'TakaoMincho';
        font-style: normal;
        font-weight: 300;
        src: local('Takao Mincho'), local('TakaoMincho'),
             url("https://s3-ap-northeast-1.amazonaws.com/setsuhi-tokyo/TakaoMincho.ttf");
      }
    </style>

    {% block thirdparty_styles %}
      <link rel="stylesheet" type="text/css"
            href="{% static 'third/styles/bootstrap.min.css' %}" />
      <link rel="stylesheet" type="text/css"
            href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
      <link rel="stylesheet" type="text/css"
            href="{% static 'third/styles/summernote.css' %}" />
    {% endblock thirdparty_styles %}

    {% block default_styles %}
      <link rel="stylesheet/less" type="text/css" 
            href="{% static 'main/styles/styles.less' %}" />
    {% endblock default_styles %}


    {% block styles %}{% endblock %}

    
    {% block default_prescripts %}
      <script>
        less = {
            env: "development",
            async: false,
            fileAsync: false,
            poll: 1000,
            functions: {},
            dumpLineNumbers: "comments",
            relativeUrls: false,
            rootpath: ":/0.0.0.0:5000/"
        };
      </script>
      <script src="{%static 'third/scripts/less-1.6.1.min.js'%}">
      </script>
    {% endblock default_prescripts %}

    {% block prescripts %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <!--[if lt IE 8]>
        <p class="browsehappy">
          You are using an <strong>outdated</strong> browser. 
          Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </p>
        <![endif]-->

    <div id="super-content" class="{%block super_class%}{%endblock%}">
      {% block super_content %}
      
        <div class="full-viewport bg-image bg-1"></div>

        <div class="navbar navbar-default navbar-setsuhi navbar-fixed-top visible-xs" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'front' %}">
                {% ml ja="白石雪妃" en="Setsuhi Shiraishi" %}
              </a>
              <div class="ml-widget ml-mobile-widget">
                <a class="ml-language" lang="ja">
                  <img src="{% static 'main/images/flags/ja-small.png' %}" />
                  日本語
                </a>
                <a class="ml-language" lang="en">
                  <img src="{% static 'main/images/flags/en-small.png' %}" />
                  English
                </a>
              </div>
            </div>
            <div class="navbar-collapse collapse" style="height: 1px;">
              <ul class="nav navbar-nav">
                {% for view_name, english, japanese in nav_list %}
                  <li>
                    <a href="{% url view_name %}">
                      {% ml en=english ja=japanese %}
                    </a>
                  </li>
                {% endfor %}
                <li>
                  <a href="http://setsuhi.blogspot.jp/" target="_blank">
                    {% ml en="Blog" ja="ブログ" %}
                  </a>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container-->
        </div><!--/.navbar-->

        <div id="left-dock" class="hidden-xs">
          <div id="signature-div">
            <a href="{% url 'front' %}">
              <img id="signature" src="{% static 'main/images/signature-transparent-small.png' %}" />
            </a>
          </div>

          {% multilingual %}
            {% mlpart "ja" %}
              <div class="vertical-text font-32">
                書道家白石雪妃
              </div>
            {% endmlpart %}
            {% mlpart "en" %}
              <div class="pad-x-10">
                <div class="left semibold font-30">
                  <div style="letter-spacing: 2.8px;">
                    Setsuhi
                  </div>
                  <div>
                    Shiraishi
                  </div>
                </div>
                <div class="right italic font-22">
                  Japanese<br>
                  Calligrapher
                </div>        
              </div>
            {% endmlpart %}
          {% endmultilingual %}


          {% block multilingual %}
            <div id="ml-titles">
            </div>
            <div class="ml-widget">
              <div class="btn-group-vertical ml-btn-group">
                <a class="btn btn-default ml-language" lang="en">
                  <img src="{% static 'main/images/flags/en-small.png' %}" />
                  <span class="active-indicator">&raquo;</span>
                  English
                  <span class="active-indicator">&laquo;</span>
                </a>
                <a class="btn btn-default ml-language" lang="ja">
                  <img src="{% static 'main/images/flags/ja-small.png' %}" />
                  <span class="active-indicator">&raquo;</span>
                  日本語
                  <span class="active-indicator">&laquo;</span>
                </a>
              </div>
            </div>
          {% endblock multilingual %}
        </div> <!-- /#left-dock -->

        <div id="right-dock" class="hidden-xs">
          <div id="main-navigation">

            {% for view_name, english, japanese in nav_list %}
              <div class="navlink-wrapper">
                <a href="{% url view_name %}">
                  <div class="boxi">
                    <div class="boxi-br">
                      {% ml en=english ja=japanese %}
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}

            <div class="navlink-wrapper">
              <a target="_blank" href="http://setsuhi.blogspot.jp/">
                <div class="boxi">
                  <div class="boxi-br">
                    {% ml ja="ブログ" en="Blog" %}
                  </div>
                </div>
              </a>
            </div>

          </div> <!-- end #main-navigation -->
          
        </div> <!-- /#right-dock -->

        <div id="top-content">
          {% block top_content %}{% endblock %}
        </div>

        <div id="main-content">
          {% block main_content %}{% endblock %}

          <div class="bg-photo-credit">
            {%multilingual%}
            {%mlpart 'en'%}
            background photo:  {%link 'yoshiyuki ōki'%}
            {%endmlpart%}
            {%mlpart 'ja'%}
            <span lang="en">background photo:</span> {%link '大木啓至'%}
            {%endmlpart%}
            {%endmultilingual%}
          </div>

        </div> <!-- /#main-content -->

      {% endblock super_content %}
    </div> <!-- /#super-content -->



    {% block thirdparty_postscripts %}
      <script type="text/javascript"
              src="{% static 'third/scripts/jquery-1.10.2.min.js' %}">
      </script>
      <script type="text/javascript"
              src="{% static 'third/scripts/bootstrap.min.js' %}">
      </script>
      <script type="text/javascript"
              src="{% static 'third/scripts/jquery.cookie.js' %}">
      </script>
      <script type="text/javascript"
              src="{% static 'third/scripts/summernote.min.js' %}">
      </script>
    {% endblock thirdparty_postscripts %}

    {% block default_postscripts %}
      <script type="text/javascript"
              src="{% static 'main/scripts/multilingual.js' %}"></script>
      <script type="text/javascript"
              src="{% static 'main/scripts/main.js' %}"></script>
    {% endblock default_postscripts %}

    
    {% block postscripts %}{% endblock %}

  </body>
</html>

