<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}書道家白石雪妃{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% load staticfiles multilingual %}

    <link rel="icon" type="image/png" href="{% static 'home/images/logo-16.png' %}" />

    <!-- FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,700,600|Open+Sans+Condensed:300,700,300italic" rel="stylesheet" type="text/css">
    <style type="text/css">
      @font-face {
        font-family: 'TakaoMincho';
        font-style: normal;
        font-weight: 300;
        src: local('Takao Mincho'), local('TakaoMincho'),
             url("{% static 'main/fonts/TakaoMincho.tff' %}");
      }
    </style>

    {% block thirdparty_styles %}
      <link rel="stylesheet" type="text/css"
            href="{% static 'third/styles/normalize.css' %}" />
      <link rel="stylesheet" type="text/css"
            href="{% static 'third/styles/bootstrap.min.css' %}" />
    {% endblock thirdparty_styles %}

    {% block default_styles %}
      <link rel="stylesheet/less" type="text/css"
            href="{% static 'main/styles/multilingual.less' %}" />
      <link rel="stylesheet/less" type="text/css"
            href="{% static 'main/styles/styles.less' %}" />
    {% endblock default_styles %}


    {% block styles %}{% endblock %}

    
    {% block default_prescripts %}
    <script>
      less = {
        env: "development",
        async: false,
        fileAsync: false,
        poll: 1000,
        functions: {},
        dumpLineNumbers: "comments",
        relativeUrls: false,
        rootpath: ":/0.0.0.0:5000/"
      };
    </script>
    <script src="{% static 'third/scripts/less-1.6.1.min.js' %}" type="text/javascript"></script>
    {% endblock default_prescripts %}

    {% block prescripts %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <!--[if lt IE 8]>
        <p class="browsehappy">
          You are using an <strong>outdated</strong> browser. 
          Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </p>
        <![endif]-->

    <div id="super-content">
      {% block super_content %}

        <div id="left-dock">
          <div id="signature-div">
            <img src="{% static 'main/images/signature-transparent-small.png' %}" />
          </div>

          {% multilingual %}
            {% mlpart "ja" %}
              <div class="vertical-text font-32">
                書道家白石雪妃
              </div>
            {% endmlpart %}
            {% mlpart "en" %}
              <div class="pad-x-10">
                <div class="left semibold font-30">
                  <div style="letter-spacing: 2.8px;">
                    Setsuhi
                  </div>
                  <div>
                    Shiraishi
                  </div>
                </div>
                <div class="right italic font-22">
                  Japanese<br>
                  Calligrapher
                </div>        
              </div>
            {% endmlpart %}
          {% endmultilingual %}


          {% block multilingual %}
            <div id="ml-titles">
            </div>
            <div class="ml-widget">
              <div class="btn-group-vertical ml-btn-group">
                <a class="btn btn-default ml-language" lang="en">
                  <img src="{% static 'main/images/flags/en-small.png' %}" />
                  <span class="active-indicator">&raquo;</span>
                  English
                  <span class="active-indicator">&laquo;</span>
                </a>
                <a class="btn btn-default ml-language" lang="ja">
                  <img src="{% static 'main/images/flags/ja-small.png' %}" />
                  <span class="active-indicator">&raquo;</span>
                  日本語
                  <span class="active-indicator">&laquo;</span>
                </a>
              </div>
            </div>
          {% endblock multilingual %}
        </div>

        <div id="right-dock">
          <div id="main-navigation">

            <div class="navlink-wrapper">
              <a href="{% url 'about' %}">
                <div class="boxi">
                  <div class="boxi-br">
                    About
                  </div>
                </div>
              </a>
            </div>
            <div class="navlink-wrapper">
              <a href="">
                <div class="boxi">
                  <div class="boxi-br">
                    {% ml ja="作品" en="Artwork" %}
                  </div>
                </div>
              </a>
            </div>
            <div class="navlink-wrapper">
              <a href="">
                <div class="boxi">
                  <div class="boxi-br">
                    {% ml ja="教室" en="Learn" %}
                  </div>
                </div>
              </a>
            </div>
            <div class="navlink-wrapper">
              <a href="">
                <div class="boxi">
                  <div class="boxi-br">
                    {% ml ja="連絡" en="Contact" %}
                  </div>
                </div>
              </a>
            </div>
            <div class="navlink-wrapper">
              <a target="_blank" href="http://setsuhi.modalbeats.com/">
                <div class="boxi">
                  <div class="boxi-br">
                    {% ml ja="ブログ" en="Blog" %}
                  </div>
                </div>
              </a>
            </div>

          </div> <!-- end #main-navigation -->

          <div id="seal-div">
            <img id="seal" src="{% static 'main/images/seal/1-white-transparent-small.png' %}" />
          </div>
          
        </div>

        <div id="top-content">
          {% block top_content %}{% endblock %}
        </div>

        <div id="main-content">
          {% block main_content %}{% endblock %}
        </div>

      {% endblock super_content %}
    </div>

    {% block thirdparty_postscripts %}
      <script type="text/javascript"
              src="{% static 'third/scripts/jquery-1.10.2.min.js' %}">
      </script>
      <script type="text/javascript"
              src="{% static 'third/scripts/jquery.cookie.js' %}">
      </script>
    {% endblock thirdparty_postscripts %}

    {% block default_postscripts %}
      <script type="text/javascript"
              src="{% static 'main/scripts/multilingual.js' %}"></script>
      <script type="text/javascript"
              src="{% static 'main/scripts/main.js' %}"></script>
    {% endblock default_postscripts %}

    
    {% block postscripts %}{% endblock %}

  </body>
</html>

