{% extends "main/base.html" %}
{% load staticfiles multilingual photocarousel galleria link s3 %}


{# This alone activates the background image and credit #}
{%block super_class%} has-background-image {%endblock%}


{% block main_content %}
<div class="container full-width no-padding">


  <div class="tyle-header">
    <h2>{%ml en='Featured Works' ja='注目作品'%}</h2>
  </div>

  <div class="tyle-section">

    <div class="tyle">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          {% galleria "featured-works-galleria" "works/front" %}
        </div>
      </div>
    </div> <!-- end .tyle Featured Works Galleria -->

  </div> <!-- end .tyle-section Featured Works -->


  <!---------------------------------->


  <div class="tyle-header">
    <h2>Recent</h2>
  </div>

  <div class="tyle-section">
    <div class="tyle">
      <div class="row">
        <div class="col-sm-7 col-md-4">
          <div class="tyle-slideshow">
            {% s3_slides "enjin-slides" "static/media/images/enjin" %}
          </div>
        </div>
        <div class="col-sm-5 col-md-8">
          <div class="tyle-text">
            <h3>{% ml en="&ldquo;ENJIN&rdquo;" ja="「円陣」" %}</h3>
            {% multilingual %}
              {% mlpart "en" %}
                <p>
                  Setsuhi recently had the honor of calligraphing the
                  emblem for the theme of Japan's National
                  Football Team for the 2014 FIFA World Cup in Brazil!
                  The emblem is the word <span lang="ja">円陣</span>
                  (&ldquo;enjin&rdquo;), meaning &ldquo;huddle&rdquo;.
                  In these photographs which were shared by an Adidas
                  employee: the jersey with the emblem printed on its 
                  left sleeve; employees at the Adidas Group
                  form an enjin; and the enjin emblem can be seen in
                  various places around the Adidas Group's office.
                  For more on the concept behind 
                  <span lang="ja">&ldquo;円陣&rdquo;</span>
                  please check out Adidas's 
                  {% link "article about the jersey" %}.
                </p>
              {% endmlpart %}
              {% mlpart "ja" %}
                <p>
                  2014　ＦＩＦＡ　サッカーワールドカップ
                  日本代表　新ユニフォームのコンセプト
                  「円陣」を揮毫させていただきました！
                  この社員の方からシェアしていただきた
                  写真では、アダィダスグループの社員の方々が
                  円陣を組んで一致団結した「円陣式」や
                  色々なアダィダスのオフィスに「円陣」が
                  付けてある所が見えます。
                  
                </p>
              {% endmlpart %}
            {% endmultilingual %}
          </div> <!-- end .tyle-text -->
        </div> <!-- end .col -->
      </div> <!-- end .row -->
    </div> <!-- end .tyle -->

    <div class="tyle">
      <div class="row">
        <div class="col-sm-6 col-md-8">
          <h3>Live: Setsuhi with Adam Unsworth at JZ Brat</h3>
              <p>
                Setsuhi recently held another collaborative live with music
                and calligraphy.  Jazz hornist {% link "Adam Unsworth" %} as well as
                musicians from various genres joined Setsuhi on the stage of 
                {% link "JZ Brat" %} in Shibuya.  This live was a part of a special
                collaborative series, called 'shikaku no naka he', with photographer
                {%link 'yoshiyuki ōki'%}.
              </p>

{% comment %}
          {% multilingual %}
            {% mlpart "en" %}
              <p>
                Setsuhi recently held another collaborative live with music
                and calligraphy.  Jazz hornist {% link "Adam Unsworth" %} as well as
                musicians from various genres joined Setsuhi on the stage of 
                {% link "JZ Brat" %} in Shibuya.  This live was a part of a special
                collaborative series, called 'shikaku no naka he', with photographer
                Yoshiyuki Oki.
              </p>
            {% endmlpart %}
            {% mlpart "ja" %}
              <p>
              </p>
            {% endmlpart %}
          {% endmultilingual %}
{% endcomment %}

        </div>
        <div class="col-sm-6 col-md-4">
          <img src="{% s3_url 'static/media/images/shikaku-cover-cropped.jpg' %}" 
               class="fit-image" />
        </div>
      </div>
    </div> <!-- end .tyle -->

  </div> <!-- end .tyle-section -->


  <!----------------------------------------------->


  <div class="tyle-header">
    <h2>Featured Videos</h2>
  </div>
  <div class="tyle-section">
    <div class="tyle">
      <div class="text-center">

        <!-- シカクの中へ -->
        <div class="mgY1em">
          <video controls class="full-width">
            <source src="{% s3_url 'videos/ShikakuNoNakaHe.m4v' %}"
                    type="video/mp4" />
            <source src="{% s3_url 'videos/ShikakuNoNakaHe.mov' %}"
                    type="video/quicktime" />
          </video>
          <div class="video-credit">
            filmed and edited by {%link 'yoshiyuki ōki'%}
          </div>
        </div> <!-- /シカクの中へ -->

        <div class="mgY3em">&nbsp;</div>

        <!-- Setsuhi on Arts District, Rocky Mountain PBS -->
        <iframe width="560" height="315"
                class="fixed-responsive-video "
                src="//www.youtube.com/embed/6zr-YWiwHtc"
                frameborder="0" allowfullscreen></iframe>

        <div class="mgY3em">&nbsp;</div>

        <!-- Sestuhi with Asaka at the Diners Club event -->
        <iframe width="560" height="315" 
                class="fixed-responsive-video "
                src="//www.youtube.com/embed/VyWd2H-AGg8" 
                frameborder="0" allowfullscreen></iframe>

      </div> <!-- /.text-center -->
    </div> <!-- /.tyle -->
  </div> <!-- /.tyle-section -->


</div> <!-- end .container -->
{% endblock main_content %}
